.HUW1v{display:block;-webkit-box-flex:0;-webkit-flex-grow:0;-ms-flex-positive:0;flex-grow:0;float:right}
.rWtOq{width:100%}
.xzHCw{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;margin-top:-20px}
.R-Yxq{border-radius:22px;-webkit-box-shadow:0 2px 24px rgba(0,0,0,.1);box-shadow:0 2px 24px rgba(0,0,0,.1)}