<div th:fragment="detailModal" id="modalBody" class="RnEpo _Yhr4" role="dialog">
    <div class="NOTWr">
        <button type="button" class="wpO6b" onclick="HidePostDetail()">
            <div class="QBdPU "><svg aria-label="닫기" class="_8-yf5 " color="#ffffff" fill="#ffffff" height="24" role="img" viewBox="0 0 24 24" width="24">
            <polyline fill="none" points="20.643 3.357 12 12 3.353 20.647" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></polyline>
            <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" x1="20.649" x2="3.354" y1="20.649" y2="3.354"></line>
            </svg></div>
        </button>
    </div>
    <div class="Z2Inc _7c9RR">
        <div class="JPgJ_"></div>
    </div>
    <div class="pbNvD QZZGH bW6vo" role="dialog">
    <th:block th:each="postFacade:${postDetailFacadeDomain}">
        <div class="_1XyCr eTsBx">
            <article class="M9sTE L_LMM JyscU ePUX4" role="presentation" tabindex="-1">
                <div class="qF0y9 Igw0E IwRSH YBx95 ybXk5 _4EzTm" style="max-height: inherit; max-width: inherit;">
                    <div class="_97aPb C2dOX HCDIA" style="max-height: auto; max-width: auto; aspect-ratio: 1 / 1; flex-basis: auto;">
                        <div class="rQDP3">
                            <div class="pR7Pc">
                                <div class="tR2pe" style="padding-bottom: 124.895%;"></div>
                                <div class="qF0y9 Igw0E IwRSH eGOV_ _4EzTm O1flK D8xaz fm1AK TxciK yiMZG">
                                    <div class="EcJQs">
                                        <div class="ekfSF" role="presentation">
                                            <div class="_9nCnY">
                                                <ul class="vi798">
                                                    <th:block th:each="photo:${postFacade.photoList}">
                                                        <li class="Ckrof" tabindex="-1" th:style="'transform:translateX(' + ${photo.eachPhotoGridViewSize}+ ')'">
                                                            <div class="qF0y9 Igw0E IwRSH eGOV_ _4EzTm" style="width: 600px; transform:translate(20%, 20%)">
                                                                <div role="button" class="ZyFrc" tabindex="0">
                                                                    <div class="RzuR0 Y8U6w  ">
                                                                        <div class="eLAPa vF75o" role="button" tabindex="-1">
                                                                            <div class="KL4Bh" style="padding-bottom: 124.895%;">
                                                                                <img class="FFVAD" sizes="614px" th:src="${photo.filePath}" style="object-fit: cover;"/>
                                                                            </div>
                                                                            <div class="_9AhH0"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="CzVzU" th:if="${postFacade.post.photoCount} > 1">
                                                                    <div class="qF0y9 Igw0E IwRSH eGOV_ _4EzTm bkEs3 soMvl JI_ht DhRcB">
                                                                        <svg aria-label="슬라이드" class="_8-yf5 " color="#ffffff" fill="#ffffff" height="22" role="img" viewBox="0 0 48 48" width="22">
                                                                            <path d="M34.8 29.7V11c0-2.9-2.3-5.2-5.2-5.2H11c-2.9 0-5.2 2.3-5.2 5.2v18.7c0 2.9 2.3 5.2 5.2 5.2h18.7c2.8-.1 5.1-2.4 5.1-5.2zM39.2 15v16.1c0 4.5-3.7 8.2-8.2 8.2H14.9c-.6 0-.9.7-.5 1.1 1 1.1 2.4 1.8 4.1 1.8h13.4c5.7 0 10.3-4.6 10.3-10.3V18.5c0-1.6-.7-3.1-1.8-4.1-.5-.4-1.2 0-1.2.6z"></path>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </th:block>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="HP0qD">
                        <div class="qF0y9 Igw0E IwRSH eGOV_ vwCYk">
                            <div class="NvNrm" style="overflow-y:auto">
                                <div class="UE9AK">
                                    <div class="qF0y9 Igw0E rBNOH CcYR1 ybXk5 _4EzTm">
                                        <header class="Ppjfr">
                                            <div class="Jv7Aj mArmR pZp3x">
                                                <div class="RR-M-  mrq0Z" aria-disabled="true" role="button" tabindex="-1">
                                                    <canvas class="CfWVH" height="63" width="63" style="position: absolute; top: -5px; left: -5px; width: 42px; height: 42px;"></canvas>
                                                    <a class="_2dbep qNELH kIKUG" th:href="@{/User/Profile(id=${postFacade.user.id})}" tabindex="0" style="width: 32px; height: 32px; display: block;">
                                                        <img class="_6q-tv" th:if="${postFacade.userPhoto.photo} == null" th:src="@{/images/no_profile.png}">
                                                        <img class="_6q-tv" th:if="${postFacade.userPhoto.photo} != null" th:src="${postFacade.userPhoto.photo.filePath}">
                                                    </a>
                                                </div>
                                                </div>
                                                <div class="o-MQd z8cbW">
                                                    <div class="PQo_0 RqtMr">
                                                        <div class="e1e1d">
                                                            <div class="_7UhW9 xLCgt qyrsm KV-D4 uL8Hv T0kll">
                                                                <span class="Jv7Aj mArmR MqpiF">
                                                                    <a class="sqdOP yWX7d _8A5w5 ZIAjV" th:href="@{/User/Profile(id=${postFacade.user.id})}">
                                                                        <span th:text="${postFacade.user.id}" tabindex="0"></span>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="bY2yH">
                                                            <div class="qvG_g">
                                                                <span class="RPhNB FLVQW _7qOna"></span>
                                                            </div>
                                                            <button class="sqdOP yWX7d _8A5w5" type="button">
                                                                <div class="_7UhW9 xLCgt qyrsm uL8Hv T0kll"></div>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="M30cS">
                                                        <div class="_7UhW9 PIoXz MMzan KV-D4 uL8Hv T0kll">
                                                            <div class="JF9hh">
                                                                <th:block th:if="${postFacade.location}">
                                                                    <div class="_7UhW9 PIoXz MMzan _0PwGv fDxYl T0kll">
                                                                        <a class="O4GlU" th:if="${postFacade.location}" th:href="${postFacade.location.hrefUrl}" th:text="${postFacade.location.value}" tabindex="0"></a>
                                                                    </div>
                                                                </th:block>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </header>
                                        <div class="MEAGs" th:if="${postFacade.user.id} == ${session.userInfo.user.id}">
                                            <button class="wpO6b" type="button" th:onclick="|DisplayPostOptionModal('${postFacade.post.num}')|">
                                                <div class="QBdPU">
                                                    <div class="qF0y9 Igw0E rBNOH YBx95 _4EzTm" style="height: 24px; width: 24px;">
                                                        <svg aria-label="옵션 더 보기" class="_8-yf5" color="#262626" fill="#262626" height="24" role="img" viewBox="0 0 24 24" width="24">
                                                        <circle cx="12" cy="12" r="1.5"></circle>
                                                        <circle cx="6" cy="12" r="1.5"></circle>
                                                        <circle cx="18" cy="12" r="1.5"></circle>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </button>
                                            <div id="modalPostOption" class="RnEpo Yx5HN" style="display:none" role="presentation">
                                                <input type="hidden" id="deletePostNum"/>
                                                <div class="pbNvD fPMEg" role="dialog">
                                                    <div class="_1XyCr">
                                                        <div class="piCib">
                                                            <div class="mt3GC">
                                                                <button class="aOOlW -Cab_" tabindex="0" onclick="DoPostDelete()">삭제</button>
                                                                <button class="aOOlW HoLwm" tabindex="0" onclick="HidePostOptionModal()">취소</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="eo2As">
                                    <section class="ltpMr Slqrh ">
                                        <!--좋아요-->
                                        <span class="fr66n">
                                            <button class="wpO6b" type="button">
                                                <div class="QBdPU B58H7" th:if="!${postFacade.post.postLikedFlagByUser}">
                                                    <a th:href="@{/Post/InsertLikes(postNum=${postFacade.post.num})}">
                                                    <svg aria-label="좋아요" class="_8-yf5 " color="#8e8e8e" fill="#8e8e8e" height="24" role="img" viewBox="0 0 24 24" width="24">
                                                        <path d="M16.792 3.904A4.989 4.989 0 0121.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 014.708-5.218 4.21 4.21 0 013.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 013.679-1.938m0-2a6.04 6.04 0 00-4.797 2.127 6.052 6.052 0 00-4.787-2.127A6.985 6.985 0 00.5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 003.518 3.018 2 2 0 002.174 0 45.263 45.263 0 003.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 00-6.708-7.218z"></path>
                                                    </svg>
                                                    </a>
                                                </div>
                                                <div class="QBdPU rrUvL" th:if="!${postFacade.post.postLikedFlagByUser}">
                                                    <span class="FY9nT">
                                                    <svg aria-label="좋아요" class="_8-yf5 " color="#262626" fill="#262626" height="24" role="img" viewBox="0 0 24 24" width="24">
                                                        <path d="M16.792 3.904A4.989 4.989 0 0121.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 014.708-5.218 4.21 4.21 0 013.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 013.679-1.938m0-2a6.04 6.04 0 00-4.797 2.127 6.052 6.052 0 00-4.787-2.127A6.985 6.985 0 00.5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 003.518 3.018 2 2 0 002.174 0 45.263 45.263 0 003.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 00-6.708-7.218z"></path>
                                                    </svg>
                                                    </span>
                                                </div>
                                                <div class="QBdPU" th:if="${postFacade.post.postLikedFlagByUser}">
                                                    <span class="FY9nT">
                                                    <a th:href="@{/Post/DeleteLikes(postNum=${postFacade.post.num})}">
                                                    <svg aria-label="좋아요 취소" class="_8-yf5 " color="#ed4956" fill="#ed4956" height="24" role="img" viewBox="0 0 48 48" width="24">
                                                        <path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path>
                                                    </svg>
                                                    </a>
                                                    </span>
                                                </div>
                                            </button>
                                        </span>
                                        <!--댓글-->
                                        <span class="_15y0l">
                                            <button class="toShowDetailModal wpO6b" type="button" th:data-postnum="${postFacade.post.num}" >
                                            <div class="QBdPU B58H7">
                                                <svg aria-label="댓글 달기" class="_8-yf5 " color="#8e8e8e" fill="#8e8e8e" height="24" role="img" viewBox="0 0 24 24" width="24">
                                                    <path d="M20.656 17.008a9.993 9.993 0 10-3.59 3.615L22 22z" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></path>
                                                </svg>
                                            </div>
                                            <div class="QBdPU rrUvL">
                                                <svg aria-label="댓글 달기" class="_8-yf5 " color="#262626" fill="#262626" height="24" role="img" viewBox="0 0 24 24" width="24">
                                                    <path d="M20.656 17.008a9.993 9.993 0 10-3.59 3.615L22 22z" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></path>
                                                </svg>
                                            </div>
                                            </button>
                                        </span>
                                        <!--게시물 공유-->
                                        <span class="_5e4p">
                                            <button class="wpO6b" th:onclick="|DisplaySendPost(${postFacade.post.num})|" >
                                            <div class="QBdPU B58H7">
                                                <svg aria-label="게시물 공유" class="_8-yf5 " color="#8e8e8e" fill="#8e8e8e" height="24" role="img" viewBox="0 0 24 24" width="24">
                                                <line fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2" x1="22" x2="9.218" y1="3" y2="10.083"></line>
                                                <polygon fill="none" points="11.698 20.334 22 3.001 2 3.001 9.218 10.084 11.698 20.334" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></polygon>
                                                </svg>
                                            </div>
                                            <div class="QBdPU rrUvL">
                                                <svg aria-label="게시물 공유" class="_8-yf5 " color="#262626" fill="#262626" height="24" role="img" viewBox="0 0 24 24" width="24">
                                                <line fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2" x1="22" x2="9.218" y1="3" y2="10.083"></line>
                                                <polygon fill="none" points="11.698 20.334 22 3.001 2 3.001 9.218 10.084 11.698 20.334" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></polygon>
                                                </svg>
                                            </div>
                                            </button>
                                        </span>
                                    </section>
                                    <section class="EDfFK ygqzn">
                                        <div class="qF0y9 Igw0E IwRSH eGOV_ ybXk5 vwCYk">
                                            <div class="qF0y9 Igw0E IwRSH eGOV_ vwCYk YlhBV">
                                                <div class="_7UhW9 xLCgt MMzan KV-D4 uL8Hv T0kll">
                                                    <a href="/p/CabdXQulTcH/liked_by/" tabindex="0">
                                                        <div class="_7UhW9 xLCgt qyrsm KV-D4 fDxYl T0kll">좋아요 <span th:text="${postFacade.likes.likesCountByPost}"></span> 개</div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <div class="EtaWk" style="margin-left:3%">
                                        <ul class="XQXOT pXf-y">
                                            <div role="button" class="ZyFrc" tabindex="0">
                                                <li class="gElp9 rUo9f PpGvg" role="menuitem">
                                                    <div class="P9YgZ">
                                                        <div class="C7I1f X7jCj">
                                                            <div class="Jv7Aj mArmR pZp3x">
                                                                <div class="RR-M- TKzGu" aria-disabled="true" role="button" tabindex="-1">
                                                                    <canvas class="CfWVH" height="63" width="63" style="position: absolute; top: -5px; left: -5px; width: 42px; height: 42px;"></canvas>
                                                                    <a class="_2dbep qNELH kIKUG" th:href="@{/User/Profile(id=${postFacade.user.id})}" tabindex="0" style="width: 32px; height: 32px; display: block;">
                                                                        <img class="_6q-tv" th:if="${postFacade.userPhoto.photo} == null" th:src="@{/images/no_profile.png}">
                                                                        <img class="_6q-tv" th:if="${postFacade.userPhoto.photo} != null" th:src="${postFacade.userPhoto.photo.filePath}">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="C4VMK">
                                                                <h2 class="_6lAjh">
                                                                    <div class="qF0y9 Igw0E IwRSH eGOV_ _4EzTm ItkAi">
                                                                        <span class="Jv7Aj mArmR MqpiF">
                                                                        <a class="sqdOP yWX7d _8A5w5 ZIAjV" th:href="@{/User/Profile(id=${postFacade.user.id})}">
                                                                            <span th:text="${postFacade.user.id}" tabindex="0"></span>
                                                                        </a>
                                                                </span>
                                                                    </div>
                                                                </h2>
                                                                <div class="MOdxS">
                                                                    <span class="_7UhW9 xLCgt MMzan KV-D4 se6yk T0kll">
                                                                        <p th:utext="${postFacade.post.content}"></p>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </div>
                                            <br/>
<!--                                        댓글 List START -->
                                            <th:block th:each="reply:${postFacade.replyList}">
                                            <ul class="Mr508">
                                                <div role="button" class="ZyFrc" tabindex="0">
                                                    <li class="gElp9 rUo9f" role="menuitem">
                                                        <div class="P9YgZ">
                                                            <div class="C7I1f ">
                                                                <div class="Jv7Aj mArmR pZp3x">
                                                                    <div class="RR-M- TKzGu" aria-disabled="true" role="button" tabindex="-1">
                                                                        <canvas class="CfWVH" height="63" width="63" style="position: absolute; top: -5px; left: -5px; width: 42px; height: 42px;"></canvas>
                                                                        <a class="_2dbep qNELH kIKUG" th:href="@{/User/Profile(id=${reply.userId})}" tabindex="0" style="width: 32px; height: 32px; display: block;">
                                                                            <img class="_6q-tv" th:if="${reply.profilePhotoFilePath} == null" th:src="@{/images/no_profile.png}">
                                                                            <img class="_6q-tv" th:if="${reply.profilePhotoFilePath} != null" th:src="${reply.profilePhotoFilePath}">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="C4VMK">
                                                                    <h3 class="_6lAjh ">
                                                                        <div class="qF0y9 Igw0E IwRSH eGOV_ _4EzTm ItkAi">
                                                                            <span class="Jv7Aj mArmR MqpiF">
                                                                                <a class="sqdOP yWX7d _8A5w5 ZIAjV" th:href="@{/User/Profile(id=${reply.userId})}">
                                                                                    <span th:text="${reply.userId}" tabindex="0"></span>
                                                                                </a>
                                                                            </span>
                                                                        </div>
                                                                    </h3>
                                                                    <div class="MOdxS ">
                                                                        <span class="_7UhW9 xLCgt MMzan KV-D4 se6yk T0kll" th:utext="${reply.content}"></span>
                                                                    </div>
                                                                    <div class="qF0y9 Igw0E IwRSH eGOV_ _4EzTm pjcA_ aGBdT" style="margin-top:5px">
                                                                        <div class="_7UhW9 PIoXz MMzan _0PwGv uL8Hv">
                                                                            <span th:text="${reply.regDt}"></span>
                                                                            <button class="FH9sR" th:onclick="|initSecondReply('${reply.num}','${reply.userId}');|" style="border:none;background-color:white">
                                                                                <div class="_7UhW9  PIoXz qyrsm _0PwGv uL8Hv T0kll">답글 달기</div>
                                                                            </button>
                                                                            <button class="FH9sR" type="button" style="border:none; background-color:white; width:3px; height:3px; position:absolute; margin-left:3%">
                                                                                <div class="QBdPU rrUvL" th:if="!${reply.replyLikedFlagByUser}">
                                                                                    <a th:href="@{/Reply/InsertLikes(postNum=${postFacade.post.num},replyNum=${reply.num})}">
                                                                                        <span class="FY9nT">
                                                                                            <svg aria-label="좋아요" class="_8-yf5 " color="#262626" fill="#262626" height="24" role="img" viewBox="0 0 24 24" width="24">
                                                                                                <path d="M16.792 3.904A4.989 4.989 0 0121.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 014.708-5.218 4.21 4.21 0 013.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 013.679-1.938m0-2a6.04 6.04 0 00-4.797 2.127 6.052 6.052 0 00-4.787-2.127A6.985 6.985 0 00.5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 003.518 3.018 2 2 0 002.174 0 45.263 45.263 0 003.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 00-6.708-7.218z"></path>
                                                                                            </svg>
                                                                                        </span>
                                                                                    </a>
                                                                                </div>
                                                                                <div class="QBdPU" th:if="${reply.replyLikedFlagByUser}">
                                                                                    <span class="FY9nT">
                                                                                        <a th:href="@{/Reply/DeleteLikes(postNum=${postFacade.post.num},replyNum=${reply.num})}">
                                                                                            <svg aria-label="좋아요 취소" class="_8-yf5 " color="#ed4956" fill="#ed4956" height="24" role="img" viewBox="0 0 48 48" width="24">
                                                                                                <path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path>
                                                                                            </svg>
                                                                                        </a>
                                                                                    </span>
                                                                                </div>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </div>
                                                <br/>
<!--                                            대댓글 List START -->
                                                <th:block th:each="secondReply:${reply.secondDepthReplyList}">
                                                <li>
                                                    <ul class="TCSYW">
                                                        <div role="button" class="ZyFrc" tabindex="0" style="margin-left:10%">
                                                            <li class="gElp9 rUo9f  lDe-V " role="menuitem">
                                                                <div class="P9YgZ">
                                                                    <div class="C7I1f ">
                                                                        <div class="Jv7Aj mArmR pZp3x">
                                                                            <div class="RR-M-  TKzGu  " aria-disabled="true" role="button" tabindex="-1">
                                                                                <canvas class="CfWVH" height="84" width="84" style="position: absolute; top: -5px; left: -5px; width: 42px; height: 42px;"></canvas>
                                                                                <a class="_2dbep qNELH kIKUG" th:href="@{/User/Profile(id=${secondReply.userId})}" tabindex="0" style="width: 32px; height: 32px; display: block;">
                                                                                    <img class="_6q-tv" th:if="${secondReply.profilePhotoFilePath} == null" th:src="@{/images/no_profile.png}">
                                                                                    <img class="_6q-tv" th:if="${secondReply.profilePhotoFilePath} != null" th:src="${secondReply.profilePhotoFilePath}">
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="C4VMK">
                                                                            <h3 class="_6lAjh">
                                                                                <div class="qF0y9 Igw0E IwRSH eGOV_ _4EzTm ItkAi">
                                                                                    <span class="Jv7Aj mArmR MqpiF">
                                                                                        <a class="sqdOP yWX7d _8A5w5 ZIAjV" th:href="@{/User/Profile(id=${secondReply.userId})}">
                                                                                            <span th:text="${secondReply.userId}" tabindex="0"></span>
                                                                                        </a>
                                                                                    </span>
                                                                                </div>
                                                                            </h3>
                                                                            <div class="MOdxS">
                                                                                <span class="_7UhW9 xLCgt MMzan KV-D4 se6yk T0kll" th:utext="${secondReply.content}">
                                                                                    <a class="notranslate" th:href="@{/User/Profile(id=${secondReply.userId)}" tabindex="0" th:text="${secondReply.userId}"></a>
                                                                                </span>
                                                                            </div>
                                                                            <div class="qF0y9 Igw0E IwRSH eGOV_ _4EzTm pjcA_ aGBdT" style="margin-top:5px">
                                                                                <div class="_7UhW9 PIoXz MMzan _0PwGv uL8Hv">
                                                                                    <span th:text="${secondReply.regDt}"></span>
                                                                                    <button class="FH9sR" type="button" style="border:none; background-color:white; width:3px; height:3px; position:absolute; margin-left:3%">
                                                                                        <div class="QBdPU rrUvL" th:if="!${secondReply.replyLikedFlagByUser}">
                                                                                            <a th:href="@{/Reply/InsertLikes(postNum=${postFacade.post.num},replyNum=${secondReply.num})}">
                                                                                        <span class="FY9nT">
                                                                                            <svg aria-label="좋아요" class="_8-yf5 " color="#262626" fill="#262626" height="24" role="img" viewBox="0 0 24 24" width="24">
                                                                                                <path d="M16.792 3.904A4.989 4.989 0 0121.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 014.708-5.218 4.21 4.21 0 013.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 013.679-1.938m0-2a6.04 6.04 0 00-4.797 2.127 6.052 6.052 0 00-4.787-2.127A6.985 6.985 0 00.5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 003.518 3.018 2 2 0 002.174 0 45.263 45.263 0 003.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 00-6.708-7.218z"></path>
                                                                                            </svg>
                                                                                        </span>
                                                                                            </a>
                                                                                        </div>
                                                                                        <div class="QBdPU" th:if="${secondReply.replyLikedFlagByUser}">
                                                                                            <span class="FY9nT">
                                                                                                <a th:href="@{/Reply/DeleteLikes(postNum=${postFacade.post.num},replyNum=${secondReply.num})}">
                                                                                                    <svg aria-label="좋아요 취소" class="_8-yf5 " color="#ed4956" fill="#ed4956" height="24" role="img" viewBox="0 0 48 48" width="24">
                                                                                                        <path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path>
                                                                                                    </svg>
                                                                                                </a>
                                                                                            </span>
                                                                                        </div>
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </div>
                                                    </ul>
                                                </li>
                                                <br/>
                                                </th:block>
<!--                                            대댓글 List END -->
                                            </ul>
                                            </th:block>
<!--                                        댓글 List END -->
                                        </ul>
                                    </div>
                                    <div class="NnvRN ">
                                        <div class="_7UhW9 xLCgt MMzan KV-D4 uL8Hv T0kll I0_K8">
                                            <a class="c-Yi7" tabindex-="0">
                                                <div class="_7UhW9 BARfH MMzan _0PwGv uL8Hv">
                                                    <span th:text="${postFacade.post.regDt}"></span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <br/>
                                    <section class="sH9wk _JgwE">
                                        <div class="RxpZH">
                                            <form class="X7cDz" th:object="${reply}" th:method="post" th:action="@{/Reply/Save}" enctype="multipart/form-data">
                                                <input type="hidden" name="userNum" th:value="${postFacade.user.num}"/>
                                                <input type="hidden" name="postNum" th:value="${postFacade.post.num}"/>
                                                <input type="hidden" name="parentReplyNum" th:field="*{parentReplyNum}"/>
                                                <div class="rct3S">
                                                    <button class="wpO6b ZQScA" type="button"><div class="QBdPU"></div></button>
                                                    <div class="" style="right: 12px; bottom: 360px;"></div>
                                                </div>
                                                <textarea id="replyTextInput" th:field="*{content}" placeholder="댓글 달기..." class="PUqUI Ypffh" autocomplete="off" autocorrect="off"></textarea>
                                                <button class="sqdOP yWX7d y3zKF" type="submit">
                                                    <div class="_7UhW9 xLCgt qyrsm gtFbE uL8Hv T0kll">게시</div>
                                                </button>
                                            </form>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </th:block>
    </div>
</div>