<html lang="ko" class="js logged-in client-root js-focus-visible sDN5V" style="--desktop-nav-height:60px; --post-element-padding:16px; --in-feed-story-item-padding:14px;">
    <head>
        <title th:text="|${ProfileInfo.userInfo.id} • Restagram 사진 및 동영상|"></title>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

        <link rel="icon" sizes="192x192" href="/images/favicon192.png">
        <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">

        <style type="text/css" data-fbcssmodules="css:fb.css.base css:fb.css.dialog css:fb.css.iframewidget css:fb.css.customer_chat_plugin_iframe">
        .fb_hidden {
          position: absolute;
          top: -10000px;
          z-index: 10001
        }

        .fb_reposition {
          overflow: hidden;
          position: relative
        }

        .fb_invisible {
          display: none
        }

        .fb_reset {
          background: none;
          border: 0;
          border-spacing: 0;
          color: #000;
          cursor: auto;
          direction: ltr;
          font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
          font-size: 11px;
          font-style: normal;
          font-variant: normal;
          font-weight: normal;
          letter-spacing: normal;
          line-height: 1;
          margin: 0;
          overflow: visible;
          padding: 0;
          text-align: left;
          text-decoration: none;
          text-indent: 0;
          text-shadow: none;
          text-transform: none;
          visibility: visible;
          white-space: normal;
          word-spacing: normal
        }

        .fb_reset>div {
          overflow: hidden
        }

        @keyframes fb_transform {
          from {
              opacity: 0;
              transform: scale(.95)
          }

          to {
              opacity: 1;
              transform: scale(1)
          }
        }

        .fb_animate {
          animation: fb_transform .3s forwards
        }

        .fb_dialog {
          background: rgba(82, 82, 82, .7);
          position: absolute;
          top: -10000px;
          z-index: 10001
        }

        .fb_dialog_advanced {
          border-radius: 8px;
          padding: 10px
        }

        .fb_dialog_content {
          background: #fff;
          color: #373737
        }

        .fb_dialog_close_icon {
          background: url(https:/.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;
          cursor: pointer;
          display: block;
          height: 15px;
          position: absolute;
          right: 18px;
          top: 17px;
          width: 15px
        }

        .fb_dialog_mobile .fb_dialog_close_icon {
          left: 5px;
          right: auto;
          top: 5px
        }

        .fb_dialog_padding {
          background-color: transparent;
          position: absolute;
          width: 1px;
          z-index: -1
        }

        .fb_dialog_close_icon:hover {
          background: url(https:/.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent
        }

        .fb_dialog_close_icon:active {
          background: url(https:/.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent
        }

        .fb_dialog_iframe {
          line-height: 0
        }

        .fb_dialog_content .dialog_title {
          background: #6d84b4;
          border: 1px solid #365899;
          color: #fff;
          font-size: 14px;
          font-weight: bold;
          margin: 0
        }

        .fb_dialog_content .dialog_title>span {
          background: url(https:/.xx.fbcdn.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;
          float: left;
          padding: 5px 0 7px 26px
        }

        body.fb_hidden {
          height: 100%;
          left: 0;
          margin: 0;
          overflow: visible;
          position: absolute;
          top: -10000px;
          transform: none;
          width: 100%
        }

        .fb_dialog.fb_dialog_mobile.loading {
          background: url(https:/.xx.fbcdn.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;
          min-height: 100%;
          min-width: 100%;
          overflow: hidden;
          position: absolute;
          top: 0;
          z-index: 10001
        }

        .fb_dialog.fb_dialog_mobile.loading.centered {
          background: none;
          height: auto;
          min-height: initial;
          min-width: initial;
          width: auto
        }

        .fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner {
          width: 100%
        }

        .fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content {
          background: none
        }

        .loading.centered #fb_dialog_loader_close {
          clear: both;
          color: #fff;
          display: block;
          font-size: 18px;
          padding-top: 20px
        }

        #fb-root #fb_dialog_ipad_overlay {
          background: rgba(0, 0, 0, .4);
          bottom: 0;
          left: 0;
          min-height: 100%;
          position: absolute;
          right: 0;
          top: 0;
          width: 100%;
          z-index: 10000
        }

        #fb-root #fb_dialog_ipad_overlay.hidden {
          display: none
        }

        .fb_dialog.fb_dialog_mobile.loading iframe {
          visibility: hidden
        }

        .fb_dialog_mobile .fb_dialog_iframe {
          position: sticky;
          top: 0
        }

        .fb_dialog_content .dialog_header {
          background: linear-gradient(from(#738aba), to(#2c4987));
          border-bottom: 1px solid;
          border-color: #043b87;
          box-shadow: white 0 1px 1px -1px inset;
          color: #fff;
          font: bold 14px Helvetica, sans-serif;
          text-overflow: ellipsis;
          text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
          vertical-align: middle;
          white-space: nowrap
        }

        .fb_dialog_content .dialog_header table {
          height: 43px;
          width: 100%
        }

        .fb_dialog_content .dialog_header td.header_left {
          font-size: 12px;
          padding-left: 5px;
          vertical-align: middle;
          width: 60px
        }

        .fb_dialog_content .dialog_header td.header_right {
          font-size: 12px;
          padding-right: 5px;
          vertical-align: middle;
          width: 60px
        }

        .fb_dialog_content .touchable_button {
          background: linear-gradient(from(#4267B2), to(#2a4887));
          background-clip: padding-box;
          border: 1px solid #29487d;
          border-radius: 3px;
          display: inline-block;
          line-height: 18px;
          margin-top: 3px;
          max-width: 85px;
          padding: 4px 12px;
          position: relative
        }

        .fb_dialog_content .dialog_header .touchable_button input {
          background: none;
          border: none;
          color: #fff;
          font: bold 12px Helvetica, sans-serif;
          margin: 2px -12px;
          padding: 2px 6px 3px 6px;
          text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0
        }

        .fb_dialog_content .dialog_header .header_center {
          color: #fff;
          font-size: 16px;
          font-weight: bold;
          line-height: 18px;
          text-align: center;
          vertical-align: middle
        }

        .fb_dialog_content .dialog_content {
          background: url(https:/.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;
          border: 1px solid #4a4a4a;
          border-bottom: 0;
          border-top: 0;
          height: 150px
        }

        .fb_dialog_content .dialog_footer {
          background: #f5f6f7;
          border: 1px solid #4a4a4a;
          border-top-color: #ccc;
          height: 40px
        }

        #fb_dialog_loader_close {
          float: left
        }

        .fb_dialog.fb_dialog_mobile .fb_dialog_close_icon {
          visibility: hidden
        }

        #fb_dialog_loader_spinner {
          animation: rotateSpinner 1.2s linear infinite;
          background-color: transparent;
          background-image: url(https:/.xx.fbcdn.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);
          background-position: 50% 50%;
          background-repeat: no-repeat;
          height: 24px;
          width: 24px
        }

        @keyframes rotateSpinner {
          0% {
              transform: rotate(0deg)
          }

          100% {
              transform: rotate(360deg)
          }
        }

        .fb_iframe_widget {
          display: inline-block;
          position: relative
        }

        .fb_iframe_widget span {
          display: inline-block;
          position: relative;
          text-align: justify
        }

        .fb_iframe_widget iframe {
          position: absolute
        }

        .fb_iframe_widget_fluid_desktop,
        .fb_iframe_widget_fluid_desktop span,
        .fb_iframe_widget_fluid_desktop iframe {
          max-width: 100%
        }

        .fb_iframe_widget_fluid_desktop iframe {
          min-width: 220px;
          position: relative
        }

        .fb_iframe_widget_lift {
          z-index: 1
        }

        .fb_iframe_widget_fluid {
          display: inline
        }

        .fb_iframe_widget_fluid span {
          width: 100%
        }

        .fb_mpn_mobile_landing_page_slide_out {
          animation-duration: 200ms;
          animation-name: fb_mpn_landing_page_slide_out;
          transition-timing-function: ease-in
        }

        .fb_mpn_mobile_landing_page_slide_out_from_left {
          animation-duration: 200ms;
          animation-name: fb_mpn_landing_page_slide_out_from_left;
          transition-timing-function: ease-in
        }

        .fb_mpn_mobile_landing_page_slide_up {
          animation-duration: 500ms;
          animation-name: fb_mpn_landing_page_slide_up;
          transition-timing-function: ease-in
        }

        .fb_mpn_mobile_bounce_in {
          animation-duration: 300ms;
          animation-name: fb_mpn_bounce_in;
          transition-timing-function: ease-in
        }

        .fb_mpn_mobile_bounce_out {
          animation-duration: 300ms;
          animation-name: fb_mpn_bounce_out;
          transition-timing-function: ease-in
        }

        .fb_mpn_mobile_bounce_out_v2 {
          animation-duration: 300ms;
          animation-name: fb_mpn_fade_out;
          transition-timing-function: ease-in
        }

        .fb_customer_chat_bounce_in_v2 {
          animation-duration: 300ms;
          animation-name: fb_bounce_in_v2;
          transition-timing-function: ease-in
        }

        .fb_customer_chat_bounce_in_from_left {
          animation-duration: 300ms;
          animation-name: fb_bounce_in_from_left;
          transition-timing-function: ease-in
        }

        .fb_customer_chat_bounce_out_v2 {
          animation-duration: 300ms;
          animation-name: fb_bounce_out_v2;
          transition-timing-function: ease-in
        }

        .fb_customer_chat_bounce_out_from_left {
          animation-duration: 300ms;
          animation-name: fb_bounce_out_from_left;
          transition-timing-function: ease-in
        }

        .fb_invisible_flow {
          display: inherit;
          height: 0;
          overflow-x: hidden;
          width: 0
        }

        @keyframes fb_mpn_landing_page_slide_out {
          0% {
              margin: 0 12px;
              width: 100% - 24px
          }

          60% {
              border-radius: 18px
          }

          100% {
              border-radius: 50%;
              margin: 0 24px;
              width: 60px
          }
        }

        @keyframes fb_mpn_landing_page_slide_out_from_left {
          0% {
              left: 12px;
              width: 100% - 24px
          }

          60% {
              border-radius: 18px
          }

          100% {
              border-radius: 50%;
              left: 12px;
              width: 60px
          }
        }

        @keyframes fb_mpn_landing_page_slide_up {
          0% {
              bottom: 0;
              opacity: 0
          }

          100% {
              bottom: 24px;
              opacity: 1
          }
        }

        @keyframes fb_mpn_bounce_in {
          0% {
              opacity: .5;
              top: 100%
          }

          100% {
              opacity: 1;
              top: 0
          }
        }

        @keyframes fb_mpn_fade_out {
          0% {
              bottom: 30px;
              opacity: 1
          }

          100% {
              bottom: 0;
              opacity: 0
          }
        }

        @keyframes fb_mpn_bounce_out {
          0% {
              opacity: 1;
              top: 0
          }

          100% {
              opacity: .5;
              top: 100%
          }
        }

        @keyframes fb_bounce_in_v2 {
          0% {
              opacity: 0;
              transform: scale(0, 0);
              transform-origin: bottom right
          }

          50% {
              transform: scale(1.03, 1.03);
              transform-origin: bottom right
          }

          100% {
              opacity: 1;
              transform: scale(1, 1);
              transform-origin: bottom right
          }
        }

        @keyframes fb_bounce_in_from_left {
          0% {
              opacity: 0;
              transform: scale(0, 0);
              transform-origin: bottom left
          }

          50% {
              transform: scale(1.03, 1.03);
              transform-origin: bottom left
          }

          100% {
              opacity: 1;
              transform: scale(1, 1);
              transform-origin: bottom left
          }
        }

        @keyframes fb_bounce_out_v2 {
          0% {
              opacity: 1;
              transform: scale(1, 1);
              transform-origin: bottom right
          }

          100% {
              opacity: 0;
              transform: scale(0, 0);
              transform-origin: bottom right
          }
        }

        @keyframes fb_bounce_out_from_left {
          0% {
              opacity: 1;
              transform: scale(1, 1);
              transform-origin: bottom left
          }

          100% {
              opacity: 0;
              transform: scale(0, 0);
              transform-origin: bottom left
          }
        }

        @keyframes slideInFromBottom {
          0% {
              opacity: .1;
              transform: translateY(100%)
          }

          100% {
              opacity: 1;
              transform: translateY(0)
          }
        }

        @keyframes slideInFromBottomDelay {
          0% {
              opacity: 0;
              transform: translateY(100%)
          }

          97% {
              opacity: 0;
              transform: translateY(100%)
          }

          100% {
              opacity: 1;
              transform: translateY(0)
          }
        }
        </style>
    </head>
    <body>
        <script type="text/javascript">
            function DisplayFollower(){
                var modal = document.getElementById("modalFollower");

                modal.style.display = '';
            }

            function HideFollower(){
                var modal = document.getElementById("modalFollower");

                modal.style.display = 'none';
            }

            function DisplayFollowing(){
                var modal = document.getElementById("modalFollowing");

                modal.style.display = '';
            }

            function HideFollowing(){
                var modal = document.getElementById("modalFollowing");

                modal.style.display = 'none';
            }

            function DisplayFollowingCnl(userId){
                var modal = document.getElementById("modalFollowingCnl");
                var div = document.getElementById("divFollowingCnl");
                var hidUserId = document.getElementById("hidUserId");
                modal.style.display = '';
                div.innerHTML = '생각이 바뀌면 '+ userId +'님의 팔로우를 다시 요청할 수 있습니다.';
                hidUserId.value = userId;
            }

            function HideFollowingCnl(){
                var modal = document.getElementById("modalFollowingCnl");
                var div = document.getElementById("divFollowingCnl");

                modal.style.display = 'none';
                div.innerHTML = '';
            }

            function Follow(userId) {
              fetch('/Follow?id=' + userId, {
                method: 'GET',
              });
              location.reload();
            }

            function UnFollow(userId) {
              fetch('/UnFollow?id=' + userId, {
                method: 'GET',
              });
              location.reload();
            }

            function GoMessage(){
                location.href="/Message/Home";
            }

            function ModalFollow(userId) {
              fetch('/Follow?id=' + userId, {
                method: 'GET',
              });

              location.reload();
            }

            function ModalUnFollow() {
                var userId = document.getElementById("hidUserId").value;

                  fetch('/UnFollow?id=' + userId, {
                    method: 'GET',
                  });

                  location.reload();
            }

            $(function() {
                $('.btnComment').on('click', function() {
                    let postnum = $(this).data('postnum');

                    $.ajax({
                        type : 'GET',
                        url : "/Post/Detail?postnum=" + postnum,
                        success : function(data) {
                            $('#displayPostDetail').css('display', 'block');
                            $('#modalBody').html(data);
                        }
                    });
                });
            });

            function initSecondReply(replyNum, replyUserId) {
                document.querySelector("input[name=parentReplyNum]").value = replyNum;
                document.getElementById("replyTextInput").value = "@" + replyUserId + " ";
                document.getElementById("replyTextInput").focus();
            }

            function HidePostDetail(){
                var modal = document.getElementById("displayPostDetail");
                modal.style.display = 'none';
            }
        </script>
        <!-- START : 프로필 -->
        <div id="react-root">
          <form enctype="multipart/form-data" method="POST" role="presentation"><input accept="image/jpeg" class="tb_sK" type="file"></form>
          <section class="_9eogI E3X2T">
            <div></div>
            <main class="SCxLW o64aR " role="main">
              <div class="v9tJq AAaSh ">
                <header class="zw3Ow ">
                  <div class="eC4Dz">
                    <div class="_4LQNo">
                        <div class="M-jxE">
                            <img alt="프로필 사진 추가" class="be6sR" th:if="${ProfileInfo.userPhoto} == null" th:src="@{/images/no_profile.png}">
                            <img alt="프로필 사진 변경" class="be6sR" th:if="${ProfileInfo.userPhoto} != null" th:src="${ProfileInfo.userPhoto.filePath}"/>
                        </div>
                    </div>
                  </div>
                  <section class="wW3k-">
                    <div class="XBGH5">
                      <h2 class="_7UhW9 fKFbl yUEEX KV-D4 fDxYl " th:text="${ProfileInfo.userInfo.id}"></h2>
                        <div class="             qF0y9          Igw0E     IwRSH      eGOV_     ybXk5     ui_ht bPdm3 " th:if="${session.userInfo.user.id == ProfileInfo.userInfo.id}">
                            <div class="             qF0y9          Igw0E     IwRSH      eGOV_        vwCYk">
                                <a class="sqdOP  L3NKy    _8A5w5   ZIAjV " href="/User/Edit" tabindex="0">프로필 편집</a>
                            </div>
                        </div>
                        <div class="qF0y9 Igw0E IwRSH eGOV_ ybXk5 _4EzTm bPdm3" th:if="${session.userInfo.user.id != ProfileInfo.userInfo.id}">
                            <div class="qF0y9 Igw0E IwRSH eGOV_ ybXk5 _4EzTm" th:if="!${ProfileInfo.followYn}" >
                                <div class="qF0y9 Igw0E IwRSH eGOV_ vwCYk">
                                    <button id="btnFollow" th:onclick="|Follow('${ProfileInfo.userInfo.id}')|" class="sqdOP L3NKy y3zKF">
                                        <div class="_7UhW9 xLCgt qyrsm uL8Hv T0kll ">팔로우</div>
                                    </button>
                                </div>
                            </div>
                            <div class="qF0y9 Igw0E IwRSH eGOV_ ybXk5 _4EzTm" th:if="${ProfileInfo.followYn}">
                                <div class="             qF0y9          Igw0E     IwRSH      eGOV_        vwCYk i0EQd ">
                                    <button onclick="GoMessage()" class="sqdOP L3NKy _8A5w5">
                                        <div class="_7UhW9 xLCgt qyrsm KV-D4 fDxYl T0kll">메시지 보내기</div>
                                    </button>
                                </div>
                                <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm soMvl">
                                    <button id="btnUnFollow" th:onclick="|UnFollow('${ProfileInfo.userInfo.id}')|" class="sqdOP L3NKy _8A5w5">
                                        <div class="_7UhW9   xLCgt        qyrsm           uL8Hv        T0kll ">
                                            <div class="             qF0y9          Igw0E   rBNOH          YBx95       _4EzTm" style="height: 18px;">
                                                <img src="https://img.icons8.com/ios-filled/50/000000/checked-user-male.png" style="width:18px">
                                            </div>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="k9GMp ">
                      <li class="Y8-fY ">
                        <div class="_7UhW9 vy6Bb MMzanKV-D4 uL8Hv T0kll ">게시물
                        <span class="g47SY ">
                              <span th:if="${ProfileInfo.postCount > 0}" th:text="${ProfileInfo.postCount}"></span>
                              <span th:if="${ProfileInfo.postCount == 0}">0</span>
                        </span></div>
                      </li>
                      <li class="Y8-fY ">
                          <a onclick="DisplayFollower()">
                            <div class="_7UhW9 vy6Bb MMzanKV-D4 uL8Hv T0kll ">팔로워
                                <span class="g47SY">
                                    <span th:if="${ProfileInfo.followerCount > 0}" th:text="${ProfileInfo.followerCount}"></span>
                                    <span th:if="${ProfileInfo.followerCount == 0}">0</span>
                                </span>
                            </div>
                          </a>
                      </li>
                      <li class="Y8-fY ">
                          <a onclick="DisplayFollowing()">
                            <div class="_7UhW9 vy6Bb MMzanKV-D4 uL8Hv T0kll ">팔로우
                                <span class="g47SY">
                                    <span th:if="${ProfileInfo.followingCount > 0}" th:text="${ProfileInfo.followingCount}"></span>
                                    <span th:if="${ProfileInfo.followingCount == 0}">0</span>
                                </span>
                            </div>
                          </a>
                      </li>
                    </ul>
                    <div class="QGPIr"><span class="_7UhW9 vy6Bb qyrsm KV-D4 se6yk T0kll " th:text="${ProfileInfo.userInfo.name}"></span><br> </div>
                  </section>
                </header>
                <div class="fx7hk" role="tablist">
                    <a aria-selected="true" class="_9VEo1 T-jvg" role="tab" href="#" tabindex="0">
                        <span class="smsjF">
                            <svg aria-label="" class="_8-yf5 " color="#262626" fill="#262626" height="12" role="img" viewBox="0 0 24 24" width="12">
                                <rect fill="none" height="18" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="18" x="3" y="3"></rect>
                                <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="9.015" x2="9.015" y1="3" y2="21"></line>
                                <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="14.985" x2="14.985" y1="3" y2="21"></line>
                                <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="21" x2="3" y1="9.015" y2="9.015"></line>
                                <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="21" x2="3" y1="14.985" y2="14.985"></line>
                             </svg>
                            <span class="PJXu4">게시물</span>
                        </span>
                    </a>
                    <a aria-selected="false" class="_9VEo1 " role="tab" href="#" tabindex="0">
                    <div class=" qF0y9 Igw0ErBNOH eGOV_ ybXk5 _4EzTm ">
                        <svg aria-label="" class="_8-yf5 " color="#8e8e8e" fill="#8e8e8e" height="12" role="img" viewBox="0 0 24 24" width="12">
                            <polygon fill="none" points="20 21 12 13.44 4 21 4 3 20 3 20 21" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polygon>
                        </svg>
                        <span class="W9_iZ">저장됨</span></div>
                    </a>
                    <a aria-selected="false" class="_9VEo1 " role="tab" href="#" tabindex="0">
                        <span class="qzihg">
                            <svg aria-label="" class="_8-yf5 " color="#8e8e8e" fill="#8e8e8e" height="12" role="img" viewBox="0 0 24 24" width="12">
                                <path d="M10.201 3.797L12 1.997l1.799 1.8a1.59 1.59 0 001.124.465h5.259A1.818 1.818 0 0122 6.08v14.104a1.818 1.818 0 01-1.818 1.818H3.818A1.818 1.818 0 012 20.184V6.08a1.818 1.818 0 011.818-1.818h5.26a1.59 1.59 0 001.123-.465z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                                <path d="M18.598 22.002V21.4a3.949 3.949 0 00-3.948-3.949H9.495A3.949 3.949 0 005.546 21.4v.603" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                                <circle cx="12.072" cy="11.075" fill="none" r="3.556" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle>
                            </svg>
                            <span class="_08DtY">태그됨</span>
                        </span>
                    </a>
                </div>
                <div class=" _2z6nI" th:if="${ProfileInfo.postCount == 0}">
                  <article class="ySN3v">
                    <div class="jju9v">
                      <div class="m41U8"><img alt="" class="_61V1C" th:src="@{/images/no_posts.png}"></div>
                      <div class="mDC51">
                        <div class="JLbVX">
                          <h2 class="Kr222">소중한 순간을 포착하여 공유해보세요.</h2>
                          <h3 class="c-Vw8">앱을 다운로드하고 첫 사진이나 동영상을 공유해보세요.</h3>
                          <div class="SVLuk"><a aria-label="App Store에서 다운로드" class="z1VUo" tabindex="0"><img alt="App Store에서 다운로드" class="Rt8TI " th:src="@{/images/app_ios.png}"></a><a aria-label="Google Play에서 다운로드" class="z1VUo" tabindex="0"><img alt="Google Play에서 다운로드" class="Rt8TI " th:src="@{/images/app_and.png}"></a></div>
                        </div>
                      </div>
                    </div>
                  </article>
                </div>
                <div class=" _2z6nI" th:if="${ProfileInfo.postCount > 0}">
                      <article class="ySN3v">
                          <div>
                              <div style="flex-direction: column; padding-bottom: 0px; padding-top: 0px;">
                                  <div class="Nnq7C weEfm">
                                      <th:block th:each="postFacade:${PostFacadeList}">
                                          <div class=" _2z6nI">
                                              <article class="ySN3v">
                                                  <div>
                                                      <div style="flex-direction: column; padding-bottom: 0px; padding-top: 0px;">
                                                          <div th:attr="class=(${postFacade.post.rowNum} % 3) == 1 ? 'Nnq7C weEfm' : 'v1Nh3 kIKUG _bz0w'">
                                                              <th:block th:each="photo:${postFacade.mainPostPhoto}">
                                                                  <a class="btnComment" th:data-postnum="${postFacade.post.num}" tabindex="0">
                                                                      <div class="eLAPa">
                                                                          <div class="KL4Bh">
                                                                              <img class="FFVAD" sizes="293px" th:src="${photo.filePath}" style="object-fit: cover;">
                                                                          </div>
                                                                          <div class="_9AhH0"></div>
                                                                      </div>
                                                                      <div class="CzVzU" th:if="${postFacade.post.photoCount} > 1">
                                                                          <div class="             qF0y9          Igw0E     IwRSH      eGOV_         _4EzTm    bkEs3                  soMvl                  JI_ht                  DhRcB                                                    ">
                                                                              <svg aria-label="슬라이드" class="_8-yf5 " color="#ffffff" fill="#ffffff" height="22" role="img" viewBox="0 0 48 48" width="22">
                                                                                <path d="M34.8 29.7V11c0-2.9-2.3-5.2-5.2-5.2H11c-2.9 0-5.2 2.3-5.2 5.2v18.7c0 2.9 2.3 5.2 5.2 5.2h18.7c2.8-.1 5.1-2.4 5.1-5.2zM39.2 15v16.1c0 4.5-3.7 8.2-8.2 8.2H14.9c-.6 0-.9.7-.5 1.1 1 1.1 2.4 1.8 4.1 1.8h13.4c5.7 0 10.3-4.6 10.3-10.3V18.5c0-1.6-.7-3.1-1.8-4.1-.5-.4-1.2 0-1.2.6z"></path>
                                                                              </svg>
                                                                          </div>
                                                                      </div>
                                                                  </a>
                                                              </th:block>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </article>
                                          </div>
                                      </th:block>
                                  </div>
                              </div>
                          </div>
                      </article>
                  </div>
              </div>
            </main>
              <div th:replace="fragments/header :: header"></div>
              <div th:replace="fragments/footer :: footer"></div>
          </section>
        </div>
        <div data-visualcompletion="ignore" style="position: fixed; top: env(safe-area-inset-top); right: env(safe-area-inset-right); bottom: env(safe-area-inset-bottom); left: env(safe-area-inset-left); pointer-events: none; contain: strict; z-index: -9999;"></div>
        <div id="fb-root" class=" fb_reset">
          <div style="position: absolute; top: -10000px; width: 0px; height: 0px;">
            <div></div>
          </div>
        </div>
        <div class="_-rjm">
          <div class="tA2fc "></div>
        </div>
        <div class="_5qKD1">
          <div class="q5edG "></div>
        </div>
        <!-- START : 프로필 -->
        <!-- START : 팔로워 모달 -->
        <div id="modalFollower" class="RnEpo Yx5HN" style="display:none;" role="presentation">
            <div aria-label="팔로워" class="pbNvD fPMEg" role="dialog">
                <div class="_1XyCr">
                    <div class="qF0y9 Igw0E IwRSH eGOV_ vwCYk" style="max-height: 400px; min-height: 200px;">
                        <div>
                            <div class="eiUFA">
                                <div class="WaOAr"></div>
                                <h1 class="m82CD">팔로워</h1>
                                <div class="WaOAr">
                                    <button class="wpO6b" onclick="HideFollower()">
                                        <div class="QBdPU ">
                                            <svg aria-label="닫기" class="_8-yf5 " color="#262626" fill="#262626" height="24" role="img" viewBox="0 0 24 24" width="24">
                                                <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="21" x2="3" y1="3" y2="21"></line>
                                                <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="21" x2="3" y1="21" y2="3"></line>
                                            </svg>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="isgrP">
                            <ul class="jSC57  _6xe7A">
                                <div class="PZuss">
                                    <li class="">
                                        <th:block th:each="followerInfo:${FollowerInfos}">
                                            <div th:if="${ProfileInfo.followerCount > 0}" aria-labelledby="f114ed6e72c4578 f38865aa1b5c6 ff8d1a88311f7 f2d55ffb4bd4834" class=" qF0y9 Igw0E rBNOH eGOV_ ybXk5 _4EzTm XfCBB HVWg4 ">
                                                <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm yC0tu">
                                                    <div class="Jv7Aj mArmR   pZp3x">
                                                        <div class="RR-M- " aria-disabled="true" role="button" tabindex="-1">
                                                            <canvas class="CfWVH" height="60" width="60" style="position: absolute; top: -5px; left: -5px; width: 40px; height: 40px;"></canvas>
                                                            <a class="_2dbep qNELH kIKUG" th:href="@{/User/Follow(id=${followerInfo.id})}" tabindex="0" style="width: 30px; height: 30px; display: block;">
                                                                <img class="_6q-tv" th:src="@{/images/no_profile.png}">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class=" qF0y9 Igw0E IwRSH YBx95 vwCYk ">
                                                    <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm " id="f38865aa1b5c6">
                                                        <div class="_7UhW9 xLCgt MMzan KV-D4 fDxYl">
                                                            <div class=" qF0y9 Igw0E IwRSH eGOV_ ybXk5 _4EzTm ">
                                                                <span class="Jv7Aj mArmR MqpiF  ">
                                                                    <a class="notranslate _0imsa" th:title="${followerInfo.id}" th:href="@{/User/Profile(id=${followerInfo.id})}" tabindex="0">
                                                                        <span class="_7UhW9 xLCgt qyrsm KV-D4 se6yk T0kll" th:text="${followerInfo.id}"></span>
                                                                    </a>
                                                                </span>
                                                                <div class="AC7dP Igw0E IwRSH eGOV_ _4EzTm zQLcH">·</div>
                                                                <button class="sqdOP yWX7d y3zKF">
                                                                    <div class="_7UhW9 PIoXz qyrsm uL8Hv ">팔로우</div>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm DhRcB " id="ff8d1a88311f7">
                                                        <div class="_7UhW9 xLCgt MMzan _0PwGv fDxYl" th:text="${followerInfo.name}"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </th:block>
                                        <div th:if="${ProfileInfo.followerCount == 0}" class=" qF0y9 Igw0E rBNOH YBx95 _4EzTm xUzvG">
                                            <span aria-label="회원님을 팔로우하는 사람" class="glyphsSpriteAdd_friend__outline__96 u-__7">
                                                <img th:src="@{/images/user_plus.png}">
                                            </span>
                                            <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm HcJZg ">
                                                <h2 class="_7UhW9 x-6xq yUEEX KV-D4 uL8Hv">팔로워</h2>
                                            </div>
                                            <div class="_7UhW9 xLCgt MMzan KV-D4 uL8Hv">회원님을 팔로우하는 모든 사람이 여기에 표시됩니다.</div>
                                        </div>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END : 팔로워 모달 -->
        <!-- START : 팔로잉 모달 -->
        <div id="modalFollowing" class="RnEpo Yx5HN" style="display:none;" role="presentation">
            <div aria-label="팔로잉" class="pbNvD fPMEg" role="dialog">
                <div class="_1XyCr">
                    <div class=" qF0y9 Igw0E IwRSH eGOV_ vwCYk " style="max-height: 400px; min-height: 200px;">
                        <div>
                            <div class="eiUFA">
                                <div class="WaOAr"></div>
                                <h1 class="m82CD">팔로잉</h1>
                                <div class="WaOAr">
                                    <button class="wpO6b" onclick="HideFollowing()">
                                        <div class="QBdPU ">
                                            <svg aria-label="닫기" class="_8-yf5 " color="#262626" fill="#262626" height="24" role="img" viewBox="0 0 24 24" width="24">
                                                <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="21" x2="3" y1="3" y2="21"></line>
                                                <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="21" x2="3" y1="21" y2="3"></line>
                                            </svg>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="isgrP">
                            <ul class="jSC57  _6xe7A">
                                <div class="PZuss">
                                    <li class="">
                                        <th:block th:each="followingInfo:${FollowingInfos}">
                                            <div th:if="${ProfileInfo.followingCount > 0}" aria-labelledby="f21b34e7736d37c fc1ce3c9b39e7c f106cbdf21fdc98 fa44972c698e54" class=" qF0y9 Igw0E rBNOH eGOV_ ybXk5 _4EzTm XfCBB HVWg4 ">
                                                <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm yC0tu ">
                                                    <div class="Jv7Aj mArmR pZp3x">
                                                        <div class="RR-M-" aria-disabled="true" role="button" tabindex="-1">
                                                            <canvas class="CfWVH" height="60" width="60" style="position: absolute; top: -5px; left: -5px; width: 40px; height: 40px;"></canvas>
                                                            <a class="_2dbep qNELH kIKUG" th:href="@{/User/Profile(id=${followingInfo.id})}" tabindex="0" style="width: 30px; height: 30px; display: block;">
                                                                <img class="_6q-tv" th:src="@{/images/no_profile.png}">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class=" qF0y9 Igw0E IwRSH YBx95 vwCYk ">
                                                    <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm " id="fc1ce3c9b39e7c">
                                                        <div class="_7UhW9 xLCgt MMzan KV-D4 fDxYl">
                                                            <div class=" qF0y9 Igw0E IwRSH eGOV_ ybXk5 _4EzTm ">
                                                                <span class="Jv7Aj mArmR MqpiF">
                                                                    <a class="notranslate _0imsa" th:title="${followingInfo.id}" th:href="@{/User/Profile(id=${followingInfo.id})}" tabindex="0">
                                                                        <span class="_7UhW9 xLCgt qyrsm KV-D4 se6yk T0kll" th:text="${followingInfo.id}"></span>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm DhRcB" id="f106cbdf21fdc98">
                                                        <div class="_7UhW9 xLCgt MMzan _0PwGv fDxYl" th:text="${followingInfo.name}"></div>
                                                    </div>
                                                </div>
                                                <div class=" qF0y9 Igw0E rBNOH YBx95 ybXk5 _4EzTm soMvl " id="f21b34e7736d37c">
                                                    <button class="sqdOP L3NKy _8A5w5" th:onclick="|DisplayFollowingCnl('${followingInfo.id}')|">
                                                        <div class="_7UhW9 xLCgt qyrsm uL8Hv T0kll">팔로잉</div>
                                                    </button>
<!--                                                    <button id="btnModalFollow" th:onclick="|ModalFollow('${followingInfo.id}')|" class="sqdOP L3NKy y3zKF">-->
<!--                                                        <div class="_7UhW9 xLCgt qyrsm uL8Hv T0kll ">팔로우</div>-->
<!--                                                    </button>-->
                                                </div>
                                            </div>
                                        </th:block>
                                        <div th:if="${ProfileInfo.followingCount == 0}" class=" qF0y9 Igw0E rBNOH YBx95 _4EzTm xUzvG">
                                            <span aria-label="회원님이 팔로우하는 사람" class="glyphsSpriteAdd_friend__outline__96 u-__7">
                                                <img th:src="@{/images/user_plus.png}">
                                            </span>
                                            <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm HcJZg ">
                                                <h2 class="_7UhW9 x-6xq yUEEX KV-D4 uL8Hv">회원님이 팔로우하는 사람</h2>
                                            </div>
                                            <div class="_7UhW9 xLCgt MMzan KV-D4 uL8Hv">회원님이 팔로우하는 사람들이 여기에 표시됩니다.</div>
                                        </div>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END : 팔로잉 모달 -->
        <!-- START : 팔로우 취소 확인 모달 -->
        <div id="modalFollowingCnl" class="RnEpo Yx5HN" style="display:none;" role="presentation">
            <div class="pbNvD  fPMEg" role="dialog">
                <div class="_1XyCr">
                    <div class="piCib">
                        <div class="dsJ8D ">
                            <div class="xlTJg">
                                <div class="G3yoz">
                                    <img height="90" width="90" th:src="@{/images/no_profile.png}">
                                </div>
                            </div>
                        </div>
                        <div class="_08v79">
                            <div class="_7UhW9 xLCgt MMzan _0PwGv uL8Hv">
                                <div class="qF0y9 Igw0E IwRSH eGOV_ _4EzTm">
                                    <div id="divFollowingCnl" class="_7UhW9 xLCgt MMzan KV-D4 uL8Hv"></div>
                                </div>
                            </div>
                        </div>
                        <div class="mt3GC">
                            <input type="hidden" id="hidUserId"/>
                            <button id="btnModalUnfollow" onclick="ModalUnFollow()" class="aOOlW -Cab_" tabindex="0">팔로우 취소</button>
                            <button class="aOOlW   HoLwm " tabindex="0" onclick="HideFollowingCnl()">취소</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END : 팔로우 취소 확인 모달 -->
        <!--START : 게시물 상세 모달-->
        <div id="displayPostDetail" tabindex="-1" style="display:none">
            <th:block th:replace="post/detail :: detailModal"></th:block>
        </div>
        <!--END : 게시물 상세 모달-->
    </body>
</html>