<link rel="preload" href="/bundles/es6/ConsumerUICommons.css/689df02c970a.css" as="style" type="text/css" crossorigin="anonymous">
<link rel="preload" href="/bundles/es6/Consumer.css/9bae720e6648.css" as="style" type="text/css" crossorigin="anonymous">
<link rel="preload" href="/bundles/es6/FeedPageContainer.css/c21e57d1e00e.css" as="style" type="text/css" crossorigin="anonymous">
<link rel="preload" href="/bundles/es6/FeedSidebarContainer.css/365c2e9c6ef5.css" as="style" type="text/css" crossorigin="anonymous">
<link href="/bundles/es6/FeedPageContainer.css/c21e57d1e00e.css" type="text/css" crossorigin="anonymous" rel="stylesheet">
<link href="/bundles/es6/FeedSidebarContainer.css/365c2e9c6ef5.css" type="text/css" crossorigin="anonymous" rel="stylesheet">
<link href="/bundles/es6/ActivityFeedBox.css/9531eb4f80a3.css" type="text/css" crossorigin="anonymous" rel="stylesheet">
<link href="/bundles/es6/PostModalEntrypoint.css/95a7ddf8d129.css" type="text/css" crossorigin="anonymous" rel="stylesheet">
<link href="/bundles/es6/DesktopDirectPage.css/a9bb43d06d4f.css" type="text/css" crossorigin="anonymous" rel="stylesheet">
<link href="/bundles/es6/ProfilePageContainer.css/88fe93e37e34.css" type="text/css" crossorigin="anonymous" rel="stylesheet">
<link rel="stylesheet" href="/bundles/es6/ConsumerUICommons.css/689df02c970a.css" type="text/css" crossorigin="anonymous">
<link rel="stylesheet" href="/bundles/es6/Consumer.css/9bae720e6648.css" type="text/css" crossorigin="anonymous">

<footer class="_8Rna9  _3Laht pC2e0 " role="contentinfo" th:fragment="footer">
    <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm KokQV ">
      <div class=" qF0y9 Igw0E IwRSH  eGOV_ _4EzTm kEKum ">
        <div class=" qF0y9 Igw0E IwRSH  YBx95 ybXk5  _4EzTm  YlhBV ">
          <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm _22l1 soMvl JI_ht ">
            <div class="_7UhW9  PIoXz MMzan  _0PwGv uL8Hv ">Meta</div>
          </div>
          <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm _22l1 soMvl JI_ht ">
            <div class="_7UhW9  PIoXz MMzan  _0PwGv uL8Hv ">소개</div>
          </div>
          <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm _22l1 soMvl JI_ht ">
            <div class="_7UhW9  PIoXz MMzan  _0PwGv uL8Hv ">블로그</div>
          </div>
          <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm _22l1 soMvl JI_ht ">
            <div class="_7UhW9  PIoXz MMzan  _0PwGv uL8Hv ">채용 정보</div>
          </div>
          <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm _22l1 soMvl JI_ht ">
            <div class="_7UhW9  PIoXz MMzan  _0PwGv uL8Hv ">도움말</div>
          </div>
          <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm _22l1 soMvl JI_ht ">
            <div class="_7UhW9  PIoXz MMzan  _0PwGv uL8Hv ">API</div>
          </div>
          <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm _22l1 soMvl JI_ht ">
            <div class="_7UhW9  PIoXz MMzan  _0PwGv uL8Hv ">개인정보처리방침</div>
          </div>
          <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm _22l1 soMvl JI_ht ">
            <div class="_7UhW9  PIoXz MMzan  _0PwGv uL8Hv ">약관</div>
          </div>
          <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm _22l1 soMvl JI_ht ">
            <div class="_7UhW9  PIoXz MMzan  _0PwGv uL8Hv ">인기 계정</div>
          </div>
          <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm _22l1 soMvl JI_ht ">
            <div class="_7UhW9  PIoXz MMzan  _0PwGv uL8Hv ">해시태그</div>
          </div>
          <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm _22l1 soMvl JI_ht ">
            <div class="_7UhW9  PIoXz MMzan  _0PwGv uL8Hv ">위치</div>
          </div>
          <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm _22l1 soMvl JI_ht ">
            <div class="_7UhW9  PIoXz MMzan  _0PwGv uL8Hv ">Instagram Lite</div>
          </div>
        </div>
        <div class=" qF0y9 Igw0E IwRSH YBx95 ybXk5 _4EzTm YlhBV ">
          <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm _22l1 soMvl JI_ht ">
            <div class="_7UhW9  PIoXz MMzan  _0PwGv uL8Hv ">댄스</div>
          </div>
          <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm _22l1 soMvl JI_ht ">
            <div class="_7UhW9  PIoXz MMzan  _0PwGv uL8Hv ">식음료</div>
          </div>
          <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm _22l1 soMvl JI_ht ">
            <div class="_7UhW9  PIoXz MMzan  _0PwGv uL8Hv ">집 및 정원</div>
          </div>
          <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm _22l1 soMvl JI_ht ">
            <div class="_7UhW9  PIoXz MMzan  _0PwGv uL8Hv ">음악</div>
          </div>
          <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm _22l1 soMvl JI_ht ">
            <div class="_7UhW9  PIoXz MMzan  _0PwGv uL8Hv ">시각 예술</div>
          </div>
        </div>
      </div>
      <div class=" qF0y9  Igw0E IwRSH  YBx95 ybXk5  _4EzTm _22l1 _49XvD ">
        <div class="_7UhW9  PIoXz MMzan KV-D4  uL8Hv ">
            <span class="_3G4x7 RFk-t bwz9f ">
                <div class="TQUPK"><span>한국어</span>
                    <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm WKY0a">
                        <span style="display: inline-block; transform: rotate(180deg);">
                            <svg aria-label="아래쪽 V자형 아이콘" class="_8-yf5 " color="#8e8e8e" fill="#8e8e8e" height="12" role="img" viewBox="0 0 24 24" width="12">
                                <path d="M21 17.502a.997.997 0 01-.707-.293L12 8.913l-8.293 8.296a1 1 0 11-1.414-1.414l9-9.004a1.03 1.03 0 011.414 0l9 9.004A1 1 0 0121 17.502z"></path>
                            </svg>
                        </span>
                    </div>
                </div>
                <select aria-label="표시 언어 변경" class="hztqj">
                    <option value="af">Afrikaans</option>
                    <option value="cs">Čeština</option>
                    <option value="da">Dansk</option>
                    <option value="de">Deutsch</option>
                    <option value="el">Ελληνικά</option>
                    <option value="en">English</option>
                    <option value="en-gb">English (UK)</option>
                    <option value="es">Español (España)</option>
                    <option value="es-la">Español</option>
                    <option value="fi">Suomi</option>
                    <option value="fr">Français</option>
                    <option value="id">Bahasa Indonesia</option>
                    <option value="it">Italiano</option>
                    <option value="ja">日本語</option>
                    <option value="ko">한국어</option>
                    <option value="ms">Bahasa Melayu</option>
                    <option value="nb">Norsk</option>
                    <option value="nl">Nederlands</option>
                    <option value="pl">Polski</option>
                    <option value="pt-br">Português (Brasil)</option>
                    <option value="pt">Português (Portugal)</option>
                    <option value="ru">Русский</option>
                    <option value="sv">Svenska</option>
                    <option value="th">ภาษาไทย</option>
                    <option value="tl">Filipino</option>
                    <option value="tr">Türkçe</option>
                    <option value="zh-cn">中文(简体)</option>
                    <option value="zh-tw">中文(台灣)</option>
                    <option value="bn">বাংলা</option>
                    <option value="gu">ગુજરાતી</option>
                    <option value="hi">हिन्दी</option>
                    <option value="hr">Hrvatski</option>
                    <option value="hu">Magyar</option>
                    <option value="kn">ಕನ್ನಡ</option>
                    <option value="ml">മലയാളം</option>
                    <option value="mr">मराठी</option>
                    <option value="ne">नेपाली</option>
                    <option value="pa">ਪੰਜਾਬੀ</option>
                    <option value="si">සිංහල</option>
                    <option value="sk">Slovenčina</option>
                    <option value="ta">தமிழ்</option>
                    <option value="te">తెలుగు</option>
                    <option value="vi">Tiếng Việt</option>
                    <option value="zh-hk">中文(香港)</option>
                    <option value="bg">Български</option>
                    <option value="fr-ca">Français (Canada)</option>
                    <option value="ro">Română</option>
                    <option value="sr">Српски</option>
                    <option value="uk">Українська</option>
                </select>
            </span>
        </div>
        <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm _5VUwz ">
          <div class="_7UhW9  PIoXz MMzan  _0PwGv uL8Hv ">© 2022 Instagram from Meta</div>
        </div>
      </div>
    </div>
</footer>