<header th:fragment="header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noimageindex, noarchive">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#ffffff">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">

    <link rel="icon" sizes="192x192" href="/images/favicon192.png">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">

    <link href="/bundles/es6/FeedPageContainer.css/c21e57d1e00e.css" type="text/css" crossorigin="anonymous" rel="stylesheet">
    <link href="/bundles/es6/FeedSidebarContainer.css/365c2e9c6ef5.css" type="text/css" crossorigin="anonymous" rel="stylesheet">
    <link href="/bundles/es6/ActivityFeedBox.css/9531eb4f80a3.css" type="text/css" crossorigin="anonymous" rel="stylesheet">
    <link href="/bundles/es6/PostModalEntrypoint.css/95a7ddf8d129.css" type="text/css" crossorigin="anonymous" rel="stylesheet">
    <link href="/bundles/es6/DesktopDirectPage.css/a9bb43d06d4f.css" type="text/css" crossorigin="anonymous" rel="stylesheet">
    <link href="/bundles/es6/ProfilePageContainer.css/88fe93e37e34.css" type="text/css" crossorigin="anonymous" rel="stylesheet">
    <link href="/bundles/es6/NewUserActivatorsUnit.css/f97addf4029d.css" type="text/css" crossorigin="anonymous" rel="stylesheet">
    <link href="/bundles/es6/PostCommentInput.css/d7306ea9628d.css" type="text/css" crossorigin="anonymous" rel="stylesheet">
    <link href="/bundles/es6/SuggestedUserFeedUnitContainer.css/809857b05506.css" type="text/css" crossorigin="anonymous" rel="stylesheet">
    <link href="/bundles/es6/EmptyFeedPage.css/37433616aaf8.css" type="text/css" crossorigin="anonymous" rel="stylesheet">
    <link href="/bundles/es6/FollowListModal.css/4044676aa19e.css" type="text/css" crossorigin="anonymous" rel="stylesheet">
    <link href="/bundles/es6/SettingsModules.css/40304dc4224b.css" type="text/css" crossorigin="anonymous" rel="stylesheet">

    <link rel="stylesheet" href="/bundles/es6/ConsumerUICommons.css/689df02c970a.css" type="text/css" crossorigin="anonymous">
    <link rel="stylesheet" href="/bundles/es6/Consumer.css/9bae720e6648.css" type="text/css" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script type="text/javascript">
        function DisplayCreatePost(){
            var modal = document.getElementById("modalCreatePost");

            modal.style.display = '';
        }

        function HideCreatePost(){
            var modal = document.getElementById("modalCreatePost");

            modal.style.display = 'none';
        }

        function DisplaySettings(){
            var modal = document.getElementById("divSettings");
            var state = document.getElementById("settingState");

            if(settingState == "N")
            {
                modal.style.display = 'none';
                settingState = "Y";
            }
            else{
                modal.style.display = '';
                settingState = "N";
            }
        }

        $("#fileUploadInput").change(function() {
            if(this.files) {
                if (this.files.length > 3) {
                    alert("사진은 3개까지만 등록 가능합니다.");
                    return false;
                }
                else {
                    var fileList = this.files;
                    var anyWindow = window.URL || window.webkitURL;

                    for(var i = 0; i < fileList.length; i++){
                        var objectUrl = anyWindow.createObjectURL(fileList[i]);
                        $('.select_img').append('<img src="' + objectUrl + '" />');
                        window.URL.revokeObjectURL(fileList[i]);
                    }
                }
            }
        });

        function DisplayPostOptionModal(postNum) {
            document.getElementById("deletePostNum").value = postNum;

            let modal = document.getElementById("modalPostOption");
            modal.style.display = '';
        }

        function HidePostOptionModal(){
            document.getElementById("deletePostNum").value = "";

            let modal = document.getElementById("modalPostOption");
            modal.style.display = 'none';
        }

        function DoPostDelete() {
            let postNum = document.getElementById("deletePostNum").value;

            fetch('/Post/Delete?postNum=' + postNum, {
                method: 'GET',
            });

            parent.location.reload();
        }
    </script>
    <!--START : Header-->
    <nav class="NXc7H jLuN9">
        <div class="R4HNP"></div>
        <div class="_8MQSO Cx7Bp">
            <div class="_lz6s">
                <div class="MWDvN">
                    <div class=" _7Nzh3"><a href="/Post/List" tabindex="0">
                        <div class="qF0y9 Igw0E rBNOH eGOV_ ybXk5 _4EzTm ">
                            <div class="cq2ai"><img alt="Instagram" class="s4Iyt" th:src="@{/images/logo_restagram.png}"></div>
                        </div>
                    </a></div>
                    <div class=" QY4Ed P0xOK"><input aria-label="입력 검색" autocapitalize="none" class="XTCLo d_djL DljaH " placeholder="검색" type="text" value="">
                        <div class=" cTBqC" role="button" tabindex="0">
                            <div class="eyXLr">
                                <div class="_29QNY"><svg aria-label="검색" class="_8-yf5 " color="#8e8e8e" fill="#8e8e8e" height="16" role="img" viewBox="0 0 24 24" width="16">
                                    <path d="M19 10.5A8.5 8.5 0 1110.5 2a8.5 8.5 0 018.5 8.5z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                                    <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="16.511" x2="22" y1="16.511" y2="22"></line>
                                </svg></div><span class="TqC_a xVrpc">검색</span>
                            </div>
                        </div>
                        <div class="yPP5B"></div>
                    </div>
                    <div class="ctQZg KtFt3">
                        <div class="J5g42">
                            <div class="XrOey">
                                <div class=""><a href="/Post/List" tabindex="0"><svg aria-label="홈" class="_8-yf5 " color="#262626" fill="#262626" height="24" role="img" viewBox="0 0 24 24" width="24">
                                    <path d="M22 23h-6.001a1 1 0 01-1-1v-5.455a2.997 2.997 0 10-5.993 0V22a1 1 0 01-1 1H2a1 1 0 01-1-1V11.543a1.002 1.002 0 01.31-.724l10-9.543a1.001 1.001 0 011.38 0l10 9.543a1.002 1.002 0 01.31.724V22a1 1 0 01-1 1z"></path>
                                </svg></a></div>
                            </div>
                            <div class="XrOey"><a aria-label="Direct 메시지 - 새로운 알림 링크 0개" class="xWeGp" href="/Message/Home" tabindex="0"><svg aria-label="Direct" class="_8-yf5 " color="#262626" fill="#262626" height="24" role="img" viewBox="0 0 24 24" width="24">
                                <line fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2" x1="22" x2="9.218" y1="3" y2="10.083"></line>
                                <polygon fill="none" points="11.698 20.334 22 3.001 2 3.001 9.218 10.084 11.698 20.334" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></polygon>
                            </svg></a></div>
                            <div class="XrOey">
                                <div class="vZuFV">
                                    <button class="wpO6b ZQScA " onclick="DisplayCreatePost()">
                                        <div class="QBdPU ">
                                            <svg aria-label="새로운 게시물" class="_8-yf5 " color="#262626" fill="#262626" height="24" role="img" viewBox="0 0 24 24" width="24">
                                                <path d="M2 12v3.45c0 2.849.698 4.005 1.606 4.944.94.909 2.098 1.608 4.946 1.608h6.896c2.848 0 4.006-.7 4.946-1.608C21.302 19.455 22 18.3 22 15.45V8.552c0-2.849-.698-4.006-1.606-4.945C19.454 2.7 18.296 2 15.448 2H8.552c-2.848 0-4.006.699-4.946 1.607C2.698 4.547 2 5.703 2 8.552z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                                                <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="6.545" x2="17.455" y1="12.001" y2="12.001"></line>
                                                <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="12.003" x2="12.003" y1="6.545" y2="17.455"></line>
                                            </svg>
                                        </div>
                                    </button>
                                    <div class="poA5q" style="margin-left: -140px;"></div>
                                </div>
                            </div>
                            <div class="XrOey"><a href="/Post/List" tabindex="0"><svg aria-label="사람 찾기" class="_8-yf5 " color="#262626" fill="#262626" height="24" role="img" viewBox="0 0 24 24" width="24">
                                <polygon fill="none" points="13.941 13.953 7.581 16.424 10.06 10.056 16.42 7.585 13.941 13.953" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polygon>
                                <polygon fill-rule="evenodd" points="10.06 10.056 13.949 13.945 7.581 16.424 10.06 10.056"></polygon>
                                <circle cx="12.001" cy="12.005" fill="none" r="10.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle>
                            </svg></a></div>
                            <div class="XrOey"><a class="_0ZPOP kIKUG " href="/Post/List"><svg aria-label="활동 피드" class="_8-yf5 " color="#262626" fill="#262626" height="24" role="img" viewBox="0 0 24 24" width="24">
                                <path d="M16.792 3.904A4.989 4.989 0 0121.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 014.708-5.218 4.21 4.21 0 013.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 013.679-1.938m0-2a6.04 6.04 0 00-4.797 2.127 6.052 6.052 0 00-4.787-2.127A6.985 6.985 0 00.5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 003.518 3.018 2 2 0 002.174 0 45.263 45.263 0 003.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 00-6.708-7.218z"></path>
                            </svg></a>
                                <div class="poA5q" style="margin-left: -423px;"></div>
                            </div>
                            <div class="XrOey">
                                <span class="_2dbep qNELH" role="link" tabindex="0" style="width: 24px; height: 24px;">
                                    <a onclick="DisplaySettings()">
                                        <input type="hidden" id="settingState" value="N"/>
                                        <img alt="Profile" class="_6q-tv" th:if="${session.userInfo.photo} == null" th:src="@{/images/no_profile.png}">
                                        <img alt="Profile" class="_6q-tv" th:if="${session.userInfo.photo} != null" th:src="${session.userInfo.photo.filePath}">
                                    </a>
                                </span>
                                <div class="poA5q" style="margin-left: -180px;">
                                    <div id="divSettings" aria-hidden="false" class="uo5MA _2ciX tWgj8 XWrBI" style="display:none;">
                                        <div class="AvhYw nLL4f" style="left: 184px;"></div>
                                        <div class="_01UL2">
                                            <a class="-qQT3" th:href="@{/User/Profile(id=${session.userInfo.user.id})}" tabindex="0">
                                                <div aria-labelledby="f380ef7fca944ac f13088a1f7ebe28 fa06d4ae57b17c fc5c822aa5a03c" class=" qF0y9 Igw0E rBNOH eGOV_ ybXk5 _4EzTm XfCBB HVWg4 La5L3 ZUqME">
                                                    <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm yC0tu ">
                                                        <svg aria-label="프로필" class="_8-yf5 " color="#262626" fill="#262626" height="16" role="img" viewBox="0 0 24 24" width="16">
                                                            <circle cx="12.004" cy="12.004" fill="none" r="10.5" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"></circle>
                                                            <path d="M18.793 20.014a6.08 6.08 0 00-1.778-2.447 3.991 3.991 0 00-2.386-.791H9.38a3.994 3.994 0 00-2.386.791 6.09 6.09 0 00-1.779 2.447" fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"></path>
                                                            <circle cx="12.006" cy="9.718" fill="none" r="4.109" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"></circle>
                                                        </svg>
                                                    </div>
                                                    <div class=" qF0y9 Igw0E IwRSH YBx95 vwCYk ">
                                                        <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm " id="f13088a1f7ebe28">
                                                            <div class="_7UhW9 xLCgt MMzan KV-D4 fDxYl">
                                                                <div class=" qF0y9 Igw0E IwRSH YBx95 _4EzTm " style="height: 28px; width: 170px;">
                                                                    <div class="_7UhW9 xLCgt MMzan \KV-D4 fDxYl">프로필</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a class="-qQT3" href="/User/Edit" tabindex="0">
                                                <div aria-labelledby="f1f8b022576dfec fe23f9c00fe818 f332ddbc35e62b4 f3e1db08627181c" class="             qF0y9          Igw0E   rBNOH        eGOV_     ybXk5    _4EzTm                                                                                   XfCBB          HVWg4                 ">
                                                    <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm yC0tu">
                                                        <svg aria-label="설정" class="_8-yf5 " color="#262626" fill="#262626" height="16" role="img" viewBox="0 0 24 24" width="16">
                                                            <circle cx="12" cy="12" fill="none" r="8.635" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle>
                                                            <path d="M14.232 3.656a1.269 1.269 0 01-.796-.66L12.93 2h-1.86l-.505.996a1.269 1.269 0 01-.796.66m-.001 16.688a1.269 1.269 0 01.796.66l.505.996h1.862l.505-.996a1.269 1.269 0 01.796-.66M3.656 9.768a1.269 1.269 0 01-.66.796L2 11.07v1.862l.996.505a1.269 1.269 0 01.66.796m16.688-.001a1.269 1.269 0 01.66-.796L22 12.93v-1.86l-.996-.505a1.269 1.269 0 01-.66-.796M7.678 4.522a1.269 1.269 0 01-1.03.096l-1.06-.348L4.27 5.587l.348 1.062a1.269 1.269 0 01-.096 1.03m11.8 11.799a1.269 1.269 0 011.03-.096l1.06.348 1.318-1.317-.348-1.062a1.269 1.269 0 01.096-1.03m-14.956.001a1.269 1.269 0 01.096 1.03l-.348 1.06 1.317 1.318 1.062-.348a1.269 1.269 0 011.03.096m11.799-11.8a1.269 1.269 0 01-.096-1.03l.348-1.06-1.317-1.318-1.062.348a1.269 1.269 0 01-1.03-.096" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></path>
                                                        </svg>
                                                    </div>
                                                    <div class=" qF0y9 Igw0E IwRSH YBx95 vwCYk ">
                                                        <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm " id="fe23f9c00fe818">
                                                            <div class="_7UhW9 xLCgt MMzan KV-D4 fDxYl">
                                                                <div class=" qF0y9 Igw0E IwRSH YBx95 _4EzTm " style="height: 28px; width: 170px;">
                                                                    <div class="_7UhW9 xLCgt MMzan KV-D4 fDxYl">설정</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <hr class="W4P49">
                                            <a class="-qQT3" href="/SignOut" tabindex="0">
                                                <div aria-labelledby="f3bf14ed7f1d53c f145e57272591bc f93ea34366b9e8 f19370f08afebbc" class=" qF0y9 Igw0E rBNOH eGOV_ ybXk5 _4EzTm XfCBB HVWg4 _09OdB ZUqME">
                                                    <div class=" qF0y9 Igw0E IwRSH YBx95 vwCYk ">
                                                        <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm " id="f145e57272591bc">
                                                            <div class="_7UhW9 xLCgt MMzan KV-D4 fDxYl ">
                                                                <div class=" qF0y9 Igw0E IwRSH YBx95 _4EzTm " style="height: 28px; width: 170px;">
                                                                    <div class="_7UhW9 xLCgt MMzan KV-D4 fDxYl">로그아웃</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="TOh1s"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!--END : Header-->
    <!--START : 게시물 신규 생성 모달-->
    <div id="modalCreatePost" class="RnEpo gpWnf Yx5HN" role="presentation" style="display:none;">
        <div class="NOTWr">
            <button class="wpO6b" onclick="HideCreatePost()">
                <div class="QBdPU">
                    <svg aria-label="닫기" class="_8-yf5 " color="#ffffff" fill="#ffffff" height="24" role="img" viewBox="0 0 24 24" width="24">
                        <polyline fill="none" points="20.643 3.357 12 12 3.353 20.647" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></polyline>
                        <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" x1="20.649" x2="3.354" y1="20.649" y2="3.354"></line>
                    </svg>
                </div>
            </button>
        </div>
        <div aria-label="새 게시물 만들기" class="pbNvD" role="dialog">
            <form th:object="${postSaveFacadeDomain}" th:method="post" th:action="@{/Post/Save}" enctype="multipart/form-data">
                <input type="hidden" name="userNum" th:value="${session.userInfo.user.num}"/>
                <div class="_1XyCr HOstH ">
                    <div style="width: 980px; max-width: 1030px; min-width: 688px; min-height: 391px; max-height: 733px;">
                        <div class=" qF0y9 Igw0E IwRSH eGOV_ vwCYk i0EQd ">
                            <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm " style="width: 100%;">
                                <div>
                                    <div class="eiUFA">
                                        <div class="WaOAr">
                                            <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm soMvl "></div>
                                        </div>
                                        <h1 class="m82CD   TNiR1">새 게시물 만들기</h1>
                                        <div class="WaOAr">
                                            <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm XfCBB g6RW6 ">
                                                <button class="sqdOP yWX7d y3zKF">등록</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="uYzeu gIMwG" style="width: 980px;">
                                <div class="_C8iK DCaGL" style="opacity: 1;">
                                    <div class="Enlg5">
                                        <div class="_FsHZ">
                                            <div class="N9UEt HsptU"></div>
                                            <div class="V4b9z">
                                                <div class="form-group">
                                                    <input th:field="*{multipartFileList}" type="file" name="file" class="form-control-file" id="fileUploadInput" multiple="multiple" required/>
                                                    <div class="select_img"></div>
                                                </div>
                                                <div class="hhLES" style="width: 640px; height: 640px;">
                                                    <div class="civB6" role="button" tabindex="0"></div>
                                                    <div style="position: absolute;">
                                                        <div>
                                                            <div class="MKHZs"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="_83r9B" style="opacity: 1;">
                                    <div class=" qF0y9 Igw0E IwRSH eGOV_ vwCYk ">
                                        <div class="IJeHu">
                                            <div class="brfp7">
                                                <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm _5VUwz y2rAt ">
                                                    <div class="c6PcF">
                                                        <div aria-labelledby="f26fa8a7d87b5d f37b35a4ebc87b8 f1f3073565c7134 f7092fdf1425" class=" qF0y9 Igw0E rBNOH eGOV_ ybXk5 _4EzTm ">
                                                            <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm yC0tu ">
                                                                <span class="_2dbep " role="link" tabindex="-1" style="width: 28px; height: 28px;">
                                                                    <img alt="Profile" class="_6q-tv" th:if="${session.userInfo.photo} == null" th:src="@{/images/no_profile.png}">
                                                                    <img alt="Profile" class="_6q-tv" th:if="${session.userInfo.photo} != null" th:src="${session.userInfo.photo.filePath}">
                                                                </span>
                                                            </div>
                                                            <div class=" qF0y9 Igw0E IwRSH YBx95 vwCYk ">
                                                                <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm" id="f37b35a4ebc87b8">
                                                                    <div class="_7UhW9 xLCgt MMzan KV-D4 fDxYl">
                                                                        <div class="_7UhW9 vy6Bb qyrsm KV-D4 uL8Hv" th:text="${session.userInfo.user.id}"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm ">
                                                    <div class=" qF0y9 Igw0E IwRSH eGOV_  ">
                                                        <textarea  th:field="*{post.content}" aria-label="문구 입력..." placeholder="문구 입력..." class="PUqUI lFzco form-control" autocomplete="off" autocorrect="off" style="height: 24px !important;"></textarea>
                                                    </div>
                                                    <div class=" L84MX Igw0E IwRSH eGOV_ _4EzTm lDRO1 ">
                                                        <div class="yVr7w" role="button" tabindex="-1">
                                                            <div class="_7UhW9 vy6Bb MMzan KV-D4 uL8Hv"></div>
                                                        </div>
                                                    </div>
                                                    <div class="_4SdAz">
                                                        <div class=" qF0y9 Igw0E _56XdI eGOV_ vwCYk lC6p0 XTCZH ">
                                                            <button class="wpO6b  " type="button"></button>
                                                            <div class="" style="top: 5px; left: 0px;"></div>
                                                        </div>
                                                        <div class=" qF0y9 Igw0E IwRSH YBx95 ui_ht ">
                                                            <div class="_7_w8z" aria-disabled="false" role="button" tabindex="0" style="cursor: pointer;">
                                                                <div class="_7UhW9 PIoXz MMzan mDXrS uL8Hv ">
                                                                    <span>0</span>/
                                                                    <span>2,200</span>
                                                                </div>
                                                            </div>
                                                            <div class="_57gnQ _7u-_J">
                                                                <div aria-hidden="true" class="iMofo R0tpI nwToI HZ9O2">
                                                                    <div class="JxPw3 pUTym" style="left: 40%;">
                                                                        <div class="_18Jen HZ9O2"></div>
                                                                    </div>
                                                                    <div class="jctW7">
                                                                        <span class="_7UhW9 xLCgt MMzan h_zdq se6yk l4b0S T0kll ">125자보다 긴 설명은 피드에서 일부가 잘린 상태로 표시됩니다.</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="-tpzm"></div>
                                                </div>
                                                <div>
                                                    <div class="lqsX8">
                                                        <label class="-wiOT     uMkC7 M5V28" style="height: 44px;">
                                                            <input th:field="*{location.value}" autocomplete="off" class="j_2Hd _4eaDf uMkC7 M5V28 form-control" name="creation-location-input" placeholder="위치 추가" spellcheck="true" type="text" value="">
                                                            <div class=" qF0y9 Igw0E IwRSH eGOV_ _4EzTm soMvl "></div>
                                                        </label>
                                                    </div>
                                                </div>
                                                <hr class="W4P49">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

            </form>
        </div>
    </div>
    <!--END : 게시물 신규 생성 모달-->
</header>