* {
    box-sizing: border-box;
    font-family: 'helvetica neue', 'Apple SD Gothic Neo', Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color: #fafafa;
    padding: 0;
    margin: 0;
}

p, span {
    font-size: 14px;
}

.recommend_container {
    width: 600px;
    margin: 6px auto 6px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #fff;
    border: 1px solid #DBDBDB;
    padding: 10px 10px 10px 10px;
}

.edit_container {
    width: 700px;
    margin: 6px auto 6px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #fff;
    border: 1px solid #DBDBDB;
    padding: 10px 10px 10px 10px;
}