.container {
    width: 350px;
    margin: 100px auto 10px auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    background-color: #fff;
    border: 1px solid #DBDBDB;
}
.subContainer {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 1px;
    margin: 0 auto 10px auto;
    padding: 10px;
    width : 350px;
    text-align : center;
}
img.logo_restagram {
    align-self: center;
    width: 175px;
    margin: 35px 0;
}
img.or {
    align-self: center;
    width: 268px;
    height: 30px;
    margin: 3px auto;
    border: none;
    color: white;
}
.input_signUp {
    width: 270px;
    height: 40px;
    margin: 3px auto;
    padding: 0 10px;
    display: block;
    background-color: #fafafa;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    font-size: 14px;
}
.input_signUp::placeholder {
    font-size: 12px;
    color: #8e8e8e;
}
.input_signUp:focus {
    border: 1px solid #8a8a8a;
    outline: none;
}
#btnSignUp {
    width: 268px;
    height: 30px;
    margin: 13px auto;
    background-color: #0095f6;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    font-weight: 600;
}
#btnFacebook {
    width: 268px;
    height: 30px;
    margin: 7px auto;
    background-color: #0095f6;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    font-weight: 600;
}
#btnSignUp:disabled {
    background-color: #B9DFFC;
}
#btnSignUp:disabled:hover {
    cursor: default;
}
#btnSignUp:enabled:hover {
    cursor: pointer;
}
#btnSignUp:focus {
    outline: none;
}
a {
    cursor: default;
}
.button_forgot {
    color : #00366B;
    align-self: center;
    font-size: 12px;
    margin-bottom: 10px;
}
.button_forgot:hover {
    cursor: pointer;
}
.button_signUp {
    font-color : #00366B;
    align-self: center;
    font-size: 14px;
    text-decoration: none;
}
.text_notice{
    color: #8e8e8e;
    color: rgba(var(--f52,142,142,142),1);
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    width: 268px;
    margin-bottom : 10px;
    }
.text_errorMessage{
    color: #ed4956;
    width: 268px;
    padding: 10px 0 10px 0;
    font-size: 14px;
    text-align: center;
}