<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Restagram</title>

        <link href="/css/common.css" rel="stylesheet" type="text/css" />
        <link href="/css/signIn.css" rel="stylesheet" type="text/css" />

        <link rel="icon" href="/images/favicon.png">
        <link rel="restagram-icon" href="/images/favicon.png">
    </head>
    <body>
        <div id="divSignIn" class="container">
            <img class="logo_restagram" src="/images/logo_restagram.png" alt="restagram_logo">
            <form id="frmSignIn" action="/SignIn" method="post">
                <input type="text" class="input_signIn" name="email" id="email" placeholder="이메일 주소">
                <input type="password" class="input_signIn" name="password" id="password" placeholder="비밀번호">
                <button id="btnSignIn" disabled>로그인</button>
            </form>
            <span class="text_errorMessage" th:if="${code}" th:text="${message}"></span>
            <span class="button_forgot">비밀번호를 잊으셨나요?</span>
        </div>
        <div class="subContainer">
            <span style="font-size:14">계정이 없으신가요? <a href="/SignUp" class="button_signUp">가입하기</a></span>
        </div>
        <script src="/js/signIn.js"></script>
    </body>
</html>