<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Restagram</title>

        <link href="/css/common.css" rel="stylesheet" type="text/css" />
        <link href="/css/signUp.css" rel="stylesheet" type="text/css" />

        <link rel="icon" href="/images/favicon.png">
        <link rel="restagram-icon" href="/images/favicon.png">
    </head>
    <body>
        <div id="divSignUp" class="container">
            <img class="logo_restagram" src="/images/logo_restagram.png" alt="restagram_logo">
            <span class="text_notice">친구들의 사진과 동영상을 보려면 가입하세요.</span>
            <form id="frmSignIn" action="/SignUp" method="post">
                <input type="text" class="input_signUp" name="email" id="email" placeholder="이메일 주소">
                <input type="text" class="input_signUp" name="name" id="name" placeholder="성함">
                <input type="text" class="input_signUp" name="id" id="id" placeholder="사용자 이름">
                <input type="password" class="input_signUp" name="password" id="password" placeholder="비밀번호">
                <button id="btnSignUp" disabled>가입</button>
            </form>
            <span class="text_errorMessage" th:if="${code}" th:text="${message}"></span>
        </div>
        <div class="subContainer">
            <span style="font-size:14">계정이 있으신가요? <a href="/SignIn" class="button_signIn">로그인</a></span>
        </div>
        <script src="/js/signUp.js"></script>
    </body>
</html>