<html lang="ko" class="js logged-in client-root js-focus-visible sDN5V" style="--desktop-nav-height:60px; --post-element-padding:16px; --in-feed-story-item-padding:14px;">
<head>
    <title th:text="|${location.value} • Restagram 사진 및 동영상|"></title>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <link rel="icon" sizes="192x192" href="/images/favicon192.png">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">

    <style type="text/css" data-fbcssmodules="css:fb.css.base css:fb.css.dialog css:fb.css.iframewidget css:fb.css.customer_chat_plugin_iframe">
        .fb_hidden {
          position: absolute;
          top: -10000px;
          z-index: 10001
        }

        .fb_reposition {
          overflow: hidden;
          position: relative
        }

        .fb_invisible {
          display: none
        }

        .fb_reset {
          background: none;
          border: 0;
          border-spacing: 0;
          color: #000;
          cursor: auto;
          direction: ltr;
          font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
          font-size: 11px;
          font-style: normal;
          font-variant: normal;
          font-weight: normal;
          letter-spacing: normal;
          line-height: 1;
          margin: 0;
          overflow: visible;
          padding: 0;
          text-align: left;
          text-decoration: none;
          text-indent: 0;
          text-shadow: none;
          text-transform: none;
          visibility: visible;
          white-space: normal;
          word-spacing: normal
        }

        .fb_reset>div {
          overflow: hidden
        }

        @keyframes fb_transform {
          from {
              opacity: 0;
              transform: scale(.95)
          }

          to {
              opacity: 1;
              transform: scale(1)
          }
        }

        .fb_animate {
          animation: fb_transform .3s forwards
        }

        .fb_dialog {
          background: rgba(82, 82, 82, .7);
          position: absolute;
          top: -10000px;
          z-index: 10001
        }

        .fb_dialog_advanced {
          border-radius: 8px;
          padding: 10px
        }

        .fb_dialog_content {
          background: #fff;
          color: #373737
        }

        .fb_dialog_close_icon {
          background: url(https:/.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;
          cursor: pointer;
          display: block;
          height: 15px;
          position: absolute;
          right: 18px;
          top: 17px;
          width: 15px
        }

        .fb_dialog_mobile .fb_dialog_close_icon {
          left: 5px;
          right: auto;
          top: 5px
        }

        .fb_dialog_padding {
          background-color: transparent;
          position: absolute;
          width: 1px;
          z-index: -1
        }

        .fb_dialog_close_icon:hover {
          background: url(https:/.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent
        }

        .fb_dialog_close_icon:active {
          background: url(https:/.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent
        }

        .fb_dialog_iframe {
          line-height: 0
        }

        .fb_dialog_content .dialog_title {
          background: #6d84b4;
          border: 1px solid #365899;
          color: #fff;
          font-size: 14px;
          font-weight: bold;
          margin: 0
        }

        .fb_dialog_content .dialog_title>span {
          background: url(https:/.xx.fbcdn.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;
          float: left;
          padding: 5px 0 7px 26px
        }

        body.fb_hidden {
          height: 100%;
          left: 0;
          margin: 0;
          overflow: visible;
          position: absolute;
          top: -10000px;
          transform: none;
          width: 100%
        }

        .fb_dialog.fb_dialog_mobile.loading {
          background: url(https:/.xx.fbcdn.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;
          min-height: 100%;
          min-width: 100%;
          overflow: hidden;
          position: absolute;
          top: 0;
          z-index: 10001
        }

        .fb_dialog.fb_dialog_mobile.loading.centered {
          background: none;
          height: auto;
          min-height: initial;
          min-width: initial;
          width: auto
        }

        .fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner {
          width: 100%
        }

        .fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content {
          background: none
        }

        .loading.centered #fb_dialog_loader_close {
          clear: both;
          color: #fff;
          display: block;
          font-size: 18px;
          padding-top: 20px
        }

        #fb-root #fb_dialog_ipad_overlay {
          background: rgba(0, 0, 0, .4);
          bottom: 0;
          left: 0;
          min-height: 100%;
          position: absolute;
          right: 0;
          top: 0;
          width: 100%;
          z-index: 10000
        }

        #fb-root #fb_dialog_ipad_overlay.hidden {
          display: none
        }

        .fb_dialog.fb_dialog_mobile.loading iframe {
          visibility: hidden
        }

        .fb_dialog_mobile .fb_dialog_iframe {
          position: sticky;
          top: 0
        }

        .fb_dialog_content .dialog_header {
          background: linear-gradient(from(#738aba), to(#2c4987));
          border-bottom: 1px solid;
          border-color: #043b87;
          box-shadow: white 0 1px 1px -1px inset;
          color: #fff;
          font: bold 14px Helvetica, sans-serif;
          text-overflow: ellipsis;
          text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
          vertical-align: middle;
          white-space: nowrap
        }

        .fb_dialog_content .dialog_header table {
          height: 43px;
          width: 100%
        }

        .fb_dialog_content .dialog_header td.header_left {
          font-size: 12px;
          padding-left: 5px;
          vertical-align: middle;
          width: 60px
        }

        .fb_dialog_content .dialog_header td.header_right {
          font-size: 12px;
          padding-right: 5px;
          vertical-align: middle;
          width: 60px
        }

        .fb_dialog_content .touchable_button {
          background: linear-gradient(from(#4267B2), to(#2a4887));
          background-clip: padding-box;
          border: 1px solid #29487d;
          border-radius: 3px;
          display: inline-block;
          line-height: 18px;
          margin-top: 3px;
          max-width: 85px;
          padding: 4px 12px;
          position: relative
        }

        .fb_dialog_content .dialog_header .touchable_button input {
          background: none;
          border: none;
          color: #fff;
          font: bold 12px Helvetica, sans-serif;
          margin: 2px -12px;
          padding: 2px 6px 3px 6px;
          text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0
        }

        .fb_dialog_content .dialog_header .header_center {
          color: #fff;
          font-size: 16px;
          font-weight: bold;
          line-height: 18px;
          text-align: center;
          vertical-align: middle
        }

        .fb_dialog_content .dialog_content {
          background: url(https:/.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;
          border: 1px solid #4a4a4a;
          border-bottom: 0;
          border-top: 0;
          height: 150px
        }

        .fb_dialog_content .dialog_footer {
          background: #f5f6f7;
          border: 1px solid #4a4a4a;
          border-top-color: #ccc;
          height: 40px
        }

        #fb_dialog_loader_close {
          float: left
        }

        .fb_dialog.fb_dialog_mobile .fb_dialog_close_icon {
          visibility: hidden
        }

        #fb_dialog_loader_spinner {
          animation: rotateSpinner 1.2s linear infinite;
          background-color: transparent;
          background-image: url(https:/.xx.fbcdn.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);
          background-position: 50% 50%;
          background-repeat: no-repeat;
          height: 24px;
          width: 24px
        }

        @keyframes rotateSpinner {
          0% {
              transform: rotate(0deg)
          }

          100% {
              transform: rotate(360deg)
          }
        }

        .fb_iframe_widget {
          display: inline-block;
          position: relative
        }

        .fb_iframe_widget span {
          display: inline-block;
          position: relative;
          text-align: justify
        }

        .fb_iframe_widget iframe {
          position: absolute
        }

        .fb_iframe_widget_fluid_desktop,
        .fb_iframe_widget_fluid_desktop span,
        .fb_iframe_widget_fluid_desktop iframe {
          max-width: 100%
        }

        .fb_iframe_widget_fluid_desktop iframe {
          min-width: 220px;
          position: relative
        }

        .fb_iframe_widget_lift {
          z-index: 1
        }

        .fb_iframe_widget_fluid {
          display: inline
        }

        .fb_iframe_widget_fluid span {
          width: 100%
        }

        .fb_mpn_mobile_landing_page_slide_out {
          animation-duration: 200ms;
          animation-name: fb_mpn_landing_page_slide_out;
          transition-timing-function: ease-in
        }

        .fb_mpn_mobile_landing_page_slide_out_from_left {
          animation-duration: 200ms;
          animation-name: fb_mpn_landing_page_slide_out_from_left;
          transition-timing-function: ease-in
        }

        .fb_mpn_mobile_landing_page_slide_up {
          animation-duration: 500ms;
          animation-name: fb_mpn_landing_page_slide_up;
          transition-timing-function: ease-in
        }

        .fb_mpn_mobile_bounce_in {
          animation-duration: 300ms;
          animation-name: fb_mpn_bounce_in;
          transition-timing-function: ease-in
        }

        .fb_mpn_mobile_bounce_out {
          animation-duration: 300ms;
          animation-name: fb_mpn_bounce_out;
          transition-timing-function: ease-in
        }

        .fb_mpn_mobile_bounce_out_v2 {
          animation-duration: 300ms;
          animation-name: fb_mpn_fade_out;
          transition-timing-function: ease-in
        }

        .fb_customer_chat_bounce_in_v2 {
          animation-duration: 300ms;
          animation-name: fb_bounce_in_v2;
          transition-timing-function: ease-in
        }

        .fb_customer_chat_bounce_in_from_left {
          animation-duration: 300ms;
          animation-name: fb_bounce_in_from_left;
          transition-timing-function: ease-in
        }

        .fb_customer_chat_bounce_out_v2 {
          animation-duration: 300ms;
          animation-name: fb_bounce_out_v2;
          transition-timing-function: ease-in
        }

        .fb_customer_chat_bounce_out_from_left {
          animation-duration: 300ms;
          animation-name: fb_bounce_out_from_left;
          transition-timing-function: ease-in
        }

        .fb_invisible_flow {
          display: inherit;
          height: 0;
          overflow-x: hidden;
          width: 0
        }

        @keyframes fb_mpn_landing_page_slide_out {
          0% {
              margin: 0 12px;
              width: 100% - 24px
          }

          60% {
              border-radius: 18px
          }

          100% {
              border-radius: 50%;
              margin: 0 24px;
              width: 60px
          }
        }

        @keyframes fb_mpn_landing_page_slide_out_from_left {
          0% {
              left: 12px;
              width: 100% - 24px
          }

          60% {
              border-radius: 18px
          }

          100% {
              border-radius: 50%;
              left: 12px;
              width: 60px
          }
        }

        @keyframes fb_mpn_landing_page_slide_up {
          0% {
              bottom: 0;
              opacity: 0
          }

          100% {
              bottom: 24px;
              opacity: 1
          }
        }

        @keyframes fb_mpn_bounce_in {
          0% {
              opacity: .5;
              top: 100%
          }

          100% {
              opacity: 1;
              top: 0
          }
        }

        @keyframes fb_mpn_fade_out {
          0% {
              bottom: 30px;
              opacity: 1
          }

          100% {
              bottom: 0;
              opacity: 0
          }
        }

        @keyframes fb_mpn_bounce_out {
          0% {
              opacity: 1;
              top: 0
          }

          100% {
              opacity: .5;
              top: 100%
          }
        }

        @keyframes fb_bounce_in_v2 {
          0% {
              opacity: 0;
              transform: scale(0, 0);
              transform-origin: bottom right
          }

          50% {
              transform: scale(1.03, 1.03);
              transform-origin: bottom right
          }

          100% {
              opacity: 1;
              transform: scale(1, 1);
              transform-origin: bottom right
          }
        }

        @keyframes fb_bounce_in_from_left {
          0% {
              opacity: 0;
              transform: scale(0, 0);
              transform-origin: bottom left
          }

          50% {
              transform: scale(1.03, 1.03);
              transform-origin: bottom left
          }

          100% {
              opacity: 1;
              transform: scale(1, 1);
              transform-origin: bottom left
          }
        }

        @keyframes fb_bounce_out_v2 {
          0% {
              opacity: 1;
              transform: scale(1, 1);
              transform-origin: bottom right
          }

          100% {
              opacity: 0;
              transform: scale(0, 0);
              transform-origin: bottom right
          }
        }

        @keyframes fb_bounce_out_from_left {
          0% {
              opacity: 1;
              transform: scale(1, 1);
              transform-origin: bottom left
          }

          100% {
              opacity: 0;
              transform: scale(0, 0);
              transform-origin: bottom left
          }
        }

        @keyframes slideInFromBottom {
          0% {
              opacity: .1;
              transform: translateY(100%)
          }

          100% {
              opacity: 1;
              transform: translateY(0)
          }
        }

        @keyframes slideInFromBottomDelay {
          0% {
              opacity: 0;
              transform: translateY(100%)
          }

          97% {
              opacity: 0;
              transform: translateY(100%)
          }

          100% {
              opacity: 1;
              transform: translateY(0)
          }
        }
        </style>
</head>
<body>
    <script type="text/javascript">
        $(function() {
            $('.btnComment').on('click', function() {
                let postnum = $(this).data('postnum');

                $.ajax({
                    type : 'GET',
                    url : "/Post/Detail?postnum=" + postnum,
                    success : function(data) {
                        $('#displayPostDetail').css('display', 'block');
                        $('#modalBody').html(data);
                    }
                });
            });
        });

        function initSecondReply(replyNum, replyUserId) {
            document.querySelector("input[name=parentReplyNum]").value = replyNum;
            document.getElementById("replyTextInput").value = "@" + replyUserId + " ";
            document.getElementById("replyTextInput").focus();
        }

        function HidePostDetail(){
            var modal = document.getElementById("displayPostDetail");
            modal.style.display = 'none';
        }
    </script>
    <div id="react-root">
        <section class="_9eogI E3X2T">
            <div></div>
            <main class="SCxLW o64aR" role="main">
                <div class="v9tJq AAaSh">
                    <header class="zw3Ow">
                        <div class="eC4Dz">
                            <div class="_4LQNo">
                                <div class="M-jxE">
                                    <img class="be6sR" th:src="${topPostPhoto.mainPostPhoto.filePath}">
                                </div>
                            </div>
                        </div>
                        <section class="wW3k-">
                            <div class="XBGH5"></div>
                            <ul class="k9GMp">
                                <li class="Y8-fY">
                                    <div class="_7UhW9 vy6Bb MMzanKV-D4 uL8Hv T0kll"><span class="g47SY"></span></div>
                                </li>
                                <li class="Y8-fY">
                                    <div class="_7UhW9 vy6Bb MMzanKV-D4 uL8Hv T0kll"><span class="g47SY"></span></div>
                                </li>
                                <li class="Y8-fY">
                                    <div class="_7UhW9 vy6Bb MMzanKV-D4 uL8Hv T0kll"><span class="g47SY"></span></div>
                                </li>
                            </ul>
                            <div class="QGPIr">
                                <h2 class="_7UhW9 fKFbl yUEEX KV-D4 fDxYl" th:text="${location.value}"></h2>
                            </div>
                        </section>
                    </header>
                    <div class="_2z6nI">
                        <article class="ySN3v">
                            <div>
                                <div style="flex-direction: column; padding-bottom: 0px; padding-top: 0px;">
                                    <div class="Nnq7C weEfm">
                                        <th:block th:each="eachPost:${postListByLocation}">
                                            <div class="_2z6nI">
                                                <article class="ySN3v">
                                                    <div>
                                                        <div style="flex-direction: column; padding-bottom: 0px; padding-top: 0px;">
                                                            <div th:attr="class=(${eachPost.rowNum} % 3) == 1 ? 'Nnq7C weEfm' : 'v1Nh3 kIKUG _bz0w'">
                                                                <th:block th:each="photo:${eachPost.mainPostPhoto}">
                                                                    <a class="btnComment" th:data-postnum="${eachPost.postNum}" tabindex="0">
                                                                        <div class="eLAPa">
                                                                            <div class="KL4Bh">
                                                                                <img class="FFVAD" sizes="293px" th:src="${photo.filePath}" style="object-fit: cover;">
                                                                            </div>
                                                                            <div class="_9AhH0"></div>
                                                                        </div>
                                                                        <div class="CzVzU" th:if="${eachPost.photoCount} > 1">
                                                                            <div class="qF0y9 Igw0 E IwRSH eGOV_ _4EzTm bkEs3 soMvl JI_ht DhRcB">
                                                                                <svg aria-label="슬라이드" class="_8-yf5 " color="#ffffff" fill="#ffffff" height="22" role="img" viewBox="0 0 48 48" width="22">
                                                                                    <path d="M34.8 29.7V11c0-2.9-2.3-5.2-5.2-5.2H11c-2.9 0-5.2 2.3-5.2 5.2v18.7c0 2.9 2.3 5.2 5.2 5.2h18.7c2.8-.1 5.1-2.4 5.1-5.2zM39.2 15v16.1c0 4.5-3.7 8.2-8.2 8.2H14.9c-.6 0-.9.7-.5 1.1 1 1.1 2.4 1.8 4.1 1.8h13.4c5.7 0 10.3-4.6 10.3-10.3V18.5c0-1.6-.7-3.1-1.8-4.1-.5-.4-1.2 0-1.2.6z"></path>
                                                                                </svg>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </th:block>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </main>
            <!--START : 게시물 상세 모달-->
            <div id="displayPostDetail" tabindex="-1" style="display:none">
                <th:block th:replace="post/detail :: detailModal"></th:block>
            </div>
            <!--END : 게시물 상세 모달-->
            <div th:replace="fragments/header :: header"></div>
            <div th:replace="fragments/footer :: footer"></div>
        </section>
    </div>
    <div data-visualcompletion="ignore" style="position: fixed; top: env(safe-area-inset-top); right: env(safe-area-inset-right); bottom: env(safe-area-inset-bottom); left: env(safe-area-inset-left); pointer-events: none; contain: strict; z-index: -9999;"></div>
    <div id="fb-root" class=" fb_reset">
        <div style="position: absolute; top: -10000px; width: 0px; height: 0px;">
            <div></div>
        </div>
    </div>
    <div class="_-rjm">
        <div class="tA2fc "></div>
    </div>
    <div class="_5qKD1">
        <div class="q5edG "></div>
    </div>
</body>
</html>